
.about-us-page {

  .about-local {
    background: #FFBE02;
    padding-bottom: 30px;
    display: block;

    .group-content {
      font-family: GR, serif;

      .group-content-title {
        font-weight: bold;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: -0.01em;
        color: #141416;
        margin-bottom: 20px;

        @media screen and (min-width: $break-large) {
          font-size: 40px;
          line-height: 48px;
        }
      }

      .group-content-wrapper {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #141416;

        p {
          margin-bottom: 25px;
        }
      }
    }

    .icon-octopus {
      width: 100%;
      padding: 0 1rem;

      @media screen and (min-width: $break-large) {
        padding-top: 90px;
        width: auto;
      }
    }
  }

  .about-image {

    > img {
      width: 100%;
    }
  }


  .group-header {
    margin-bottom: 40px;

    .group-heading {
      margin-bottom: 0;
      .title-medium {
        color: #141416;
        padding-top: 40px;
      }

      .title-large {
        color: #FFFFFF;
      }
    }


  }
}


.about-address {
  padding: 50px 0;
  background: #E62045;

  @media screen and (min-width: $break-large) {
    padding: 85px 0;
  }

  .about-address-info {
    margin-top: 15px;
    display: block;


    @media screen and (min-width: $break-large) {
      margin-top: 30px;
      max-width: 75%;
    }

    p {
      margin-bottom: 5px;
      color: #fff;
      font-family: GR, serif;
      font-size: 16px;
      font-weight: 300;
    }

    b {
      font-weight: bold;
      font-family: GB, serif;
      font-size: 17px;
    }


  }

  .about-map-wrapper {
    overflow: hidden;
    border-radius: 15px;

    > .about-us-image-map {
      width: 100%;
    }
  }
}