.contact-page {

  .contact-content {
    background: transparent;
    padding-bottom: 30px;

    @media screen and (min-width: $break-tablet-pro) {
      padding: 40px 0;
      background: #FFBE02;
    }

    .contact-left {
      @media screen and (min-width: $break-tablet-pro) {
        padding-right: 100px;
      }
    }

    .contact-wrapper {
      background: #fff;
      border-radius: 20px;

      @media screen and (min-width: $break-tablet-pro) {
        //font-size: 16px;
        padding: 60px;
      }

      .contact-form {
        label {
          font-family: GB;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 12px;
          text-transform: uppercase;
          color: #676879;
        }

        input, textarea {
          background: #F7F7F7;
          border-radius: 4px;
          font-family: GR;
          font-size: 14px;
          letter-spacing: -0.01em;
          color: #B1B5C3;
          padding: 15px 10px;
        }

        textarea {
          padding-top: 10px;
        }

        .contact-btn-submit{
          background: #E62045;
          border: 1px solid #E62045;
          box-sizing: border-box;
          border-radius: 54px;
          color: #fff;
          font-weight: bold;
          font-size: 16px;
          line-height: 16px;
          font-family: GB;
          padding: 10px 25px;
          margin-top: 15px;

        }
      }
    }

    .contact-icon-map {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      @media screen and (min-width: $break-tablet-pro) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .group-header {
    margin-bottom: 5px;

    .group-heading {
      margin-top: 40px;
      margin-bottom: 30px;

      @media screen and (min-width: $break-tablet-pro) {
        margin-bottom: 40px;
        margin-top: -10px;
      }

      .title-medium {
        color: #E62045;
        margin-bottom: 10px;

        @media screen and (min-width: $break-tablet-pro) {
          margin-bottom: 20px;
        }

      }

      .title-large {
        color: #FFFFFF;
      }
    }


  }
}
