
.cooperate-page {

  .cooperate-local {
    background: #0090FF;
    padding-bottom: 30px;
    display: block;

    @media screen and (min-width: $break-large) {
      padding-bottom: 80px;
    }

    .breadcrumb {
      &.extend {
        .breadcrumb-item + .breadcrumb-item::before {
          color: #fff;
          background: url('/assets/images/arrow-right-white.svg') center left no-repeat;
        }

        .breadcrumb-item a {
          color: #fff;
        }
      }
    }

    .cooperate-local-content {
      color: #fff3cd;

      p {
        margin-bottom: 15px;
        font-family: GR;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }

      ul {
        list-style: none;
        padding-left: 0;

        > li {
          padding-left: 20px;
          margin-bottom: 10px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background: #fff;
            left: 0;
            top: 8px;
          }
        }
      }


      b {
        font-family: GB;
      }
    }

    .cooperate-local-viral {
      width: 100%;
      //padding: 0 20%;
      margin-top: 25px;
      display: block;

      @media screen and (min-width: $break-large) {
        width: 375px;
      }

      img {
        width: 100%;
      }

      .cooperate-local-apple {
        margin-bottom: 20px;

        @media screen and (min-width: $break-large) {
          margin-bottom: 10px;
        }
      }

      .tutorial-qr-image {
        width: 128px;
        height: 128px;
      }
    }

    .icon-cooperate-bg {
      width: 100%;
      padding: 0 1rem;
      margin-top: 30px;

      @media screen and (min-width: $break-large) {
        padding-top: 100px;
        width: 100%;
        margin-top: 0;
      }
    }

  }


  .cooperate-interview {
    background: url('/assets/images/cooperate-interview-bg.jpg') #293754 top center no-repeat;
    background-size: 100%;

    @media screen and (min-width: $break-large) {
      padding-bottom: 50px;
    }


    > .container {
      padding-right: 0px;
      padding-left: 0px;
      @media screen and (min-width: $break-large) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .cooperate-interview-title {
      margin-top: 100px;
      font-family: GB;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 35px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;

      @media screen and (min-width: $break-large) {
        margin-top: 300px;
        font-size: 48px;
        line-height: 50px;
      }

    }

    .cooperate-interview-description {
      font-family: GR;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;

    }

    .cooperate-interview-wrapper {
      background: #fff;
      padding: 30px;


      @media screen and (min-width: $break-lagest) {
        padding: 50px;
        border-radius: 15px;
      }

      .cooperate-interview-item {
        border-radius: 15px;
        border: 1px solid #ddd;
        padding: 20px;
        margin-bottom: 25px;
        display: block;

        .cooperate-item-brand {
          display: block;
          width: 53px;
          height: 53px;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          margin-bottom: 10px;

          .icon-cooperate-bg {
            width: 100%;
          }
        }

        .cooperate-item-title {
          font-family: GB;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          text-align: left;
          color: #000000;

          @media screen and (min-width: $break-lagest) {
            font-size: 24px;
            line-height: 32px;
          }
        }

        .cooperate-item-description {
          font-family: GR;
          font-family: Gilroy;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 20px;
          color: #777E90;


          @media screen and (min-width: $break-lagest) {
            font-size: 12px;
            line-height: 16px;
          }
        }

        .cooperate-item-tag {
          list-style: none;
          padding-left: 0;
          display: flex;
          flex-wrap: wrap;

          li {
            font-family: GR;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            color: #B1B5C3;
            background: #F2F2F2;
            border-radius: 11px;
            padding: 5px 12px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }

        .cooperate-interview-btn-apply {
          background: #E62045;
          border-radius: 90px;
          color: #fff;
          padding: 6px 17px;
          display: inline-block;
          font-size: 14px;
          line-height: 16px;
          font-family: GR;

          @media screen and (min-width: $break-lagest) {
            padding: 10px 22px;
          }
        }
      }
    }
  }


  .group-header {
    margin-bottom: 40px;

    .group-heading {
      margin-bottom: 0;

      .title-medium {
        color: #fff;
        padding-top: 50px;
      }

      .title-large {
        color: #FFFFFF;
      }
    }


  }
}
