.experience-page {
  .experience-special {
    background: #FFBE02;
    padding: 40px 0;
    @media screen and (min-width: $break-tablet-pro) {
      padding: 60px 0;
    }

    .experience-content {

      .experience-special-thumbnail {
        border-radius: 15px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .experience-special-content {


        .experience-special-extra {
          color: #141416;

          .experience-se-content {
            margin-bottom: 5px;
            font-size: 12px;
            line-height: 20px;

            .ese-category {
              margin-right: 10px;
            }

            .ese-time {

            }
          }
        }

        .experience-special-title {
          font-family: GB;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.01em;
          color: #141416;

          @media screen and (min-width: $break-tablet-pro) {
            //font-size: 16px;
          }
        }

        .experience-special-description {
          font-family: GR;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #141416;

        }

        .experience-special-more {
          font-family: GB;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 16px;
          color: #E62045;
        }
      }
    }
  }

  .new-promotion {
    padding: 40px 0;

    .content-new {
      .tab-content {
        margin-top: 0;
      }

      .item-promotion {
        margin-bottom: 30px;
      }
    }
  }

  .group-header {
    margin-bottom: 40px;

    .group-heading {
      margin-bottom: 0;

      .title-medium {
        color: #E62045;
      }

      .title-large {
        color: #FFFFFF;
      }
    }


  }
}
