
.faq-page {
  padding-bottom: 40px;

  .local-question{
    padding: 0;
  }
  .faq-content {
    .faq-image-bg {
      width: 100%;
      margin-top: 40px;
      padding: 0 1rem;
      @media screen and (min-width: $break-large) {
        margin-top: 0;
        padding: 0;
      }
    }
  }

  .group-header {
    margin-bottom: 40px;

    .group-heading {
      .title-medium {
        color: #E62045;
        padding-top: 20px;

        @media screen and (min-width: $break-large) {
          padding-top: 40px;
        }
      }

      .title-large {
        margin: 30px 0 0;
      }
    }

  }
}