.news-page {
  .news-special {
    background: #E62045;
    padding-bottom: 40px;

    .news-special-list {

      .news-item {
        margin-bottom: 35px;
        width: 100%;

        @media screen and (min-width: $break-tablet-pro) {
          float: left;
          width: 25%;
        }

        .news-content {
          .news-extra {
            .news-extra-content {
              font-size: 10px;
              margin-bottom: 5px;

              .news-extra-category {
                color: #E62045;
                margin-right: 10px;
              }

              .news-extra-time {
                color: #353945;
                font-family: GR;
              }
            }
          }

          .news-content-title {
            font-family: GB;
            font-size: 16px;
            line-height: 20px;
            color: #000;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 40px;

            @media screen and (min-width: $break-tablet-pro) {
              font-size: 16px;
              line-height: 24px;
              height: 45px;
            }
          }
        }
      }

      .news-item:first-of-type {
        @media screen and (min-width: $break-tablet-pro) {
          width: calc(75% - 35px);
          float: left;
          margin-right: 35px;
        }

        .news-content {

          background: #fff;
          @media screen and (min-width: $break-tablet-pro) {
            padding: 40px 40px 35px;
          }
          .news-extra {
            .news-extra-content {
              @media screen and (min-width: $break-tablet-pro) {
                font-size: 12px;
              }
            }
          }

          .news-content-title {
            @media screen and (min-width: $break-tablet-pro) {
              font-size: 32px;
              line-height: 40px;
              height: 80px;
            }
          }
        }
      }

    }


  }


  .news-detail {
    background: #0090FF;

    .group-header {
      margin-bottom: 20px;
      @media screen and (min-width: $break-lagest) {
        padding-top: 30px;
        margin-bottom: 30px;
      }

      .group-heading {
        .title-medium {
          color: #fff;
          padding-top: 30px;

          @media screen and (min-width: $break-lagest) {
            padding-top: 30px;
          }
        }

      }


    }

    .news-detail-content {

      .news-detail-wrapper {

        @media screen and (min-width: $break-lagest) {
          padding-right: 30px;
        }


        color: #fff;

        .news-content-cover {
          border-radius: 15px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .news-content-title {
          margin-top: 30px;
          margin-bottom: 20px;
          display: block;
        }

        .news-content-wrapper {
          font-family: GR;

          p {
            margin-bottom: 30px;
          }

          b {
            font-weight: bold;
            font-family: GB;
          }

          ul {
            padding-left: 0;
            margin-left: 15px;
          }
        }
      }
    }


    .news-categories-title {
      font-family: GR;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #fff;
      margin-bottom: 20px;
      margin-top: 30px;

      @media screen and (min-width: $break-lagest) {
        margin-top: -5px;
      }
    }

    .news-categories-list {
      color: #fff;
      margin-left: 0;
      padding-left: 0;
      list-style: none;

      li {
        margin-bottom: 10px;

        &.active {
          a {
            color: #FFBE02;
          }
        }

        a {
          color: #fff;
          font-family: GR;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .news-item {
    border-radius: 15px;
    overflow: hidden;
    width: 30%;

    .news-thumbnail {
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      overflow: hidden;

      > a {
        display: block;
        //overflow: hidden;
      }

      img {
        width: 100%;
      }
    }

    .news-content {
      background: #fff;
      padding: 20px;

      .news-extra {
        .news-extra-content {
          font-size: 10px;

          .news-extra-category {
            color: #E62045;
            margin-right: 10px;
          }

          .news-extra-time {
            color: #353945;
            font-family: GR;
          }
        }
      }

      .news-content-title {
        font-family: GB;
        font-size: 32px;
        line-height: 40px;
        color: #000;

        > a {
          color: #000;
          display: block;
          //overflow: hidden;
        }
      }

      .news-more {
        color: #31B9C8;
        font-weight: bold;
        font-family: GB;
        font-size: 14px;
        line-height: 16px;

        @media screen and (min-width: $break-tablet-pro) {
          font-size: 16px;
        }
      }
    }

  }

  .group-header {
    margin-bottom: 40px;

    .group-heading {
      margin-bottom: 0;

      .title-medium {
        color: #fff;
        padding-top: 60px;
      }

      .title-large {
        color: #FFFFFF;
      }
    }


  }
}
