
.our-service-page {

  .our-service-experience {
    background: #FFBE02;
    padding-bottom: 50px;
    display: block;

  }

  .our-service-image {
    > img {
      width: 100%;
    }
  }

  .our-service-expand {
    background: #F93649;
    padding: 30px 0 20px;

    .our-service-list {
      > li {
        &:before {
          background: #fff;
        }

        > p {
          color: #fff;
        }
      }
    }

    .group-header {
      margin-bottom: 40px;

      .group-heading {

        .title-large {
          margin-top: 20px;
          color: #fff;

          @media screen and (min-width: $break-large) {
            margin-top: 60px;
          }
        }
      }
    }
  }


  //HoangHN - Override
  .our-service-bg {
    width: 100%;
    padding: 0 1rem;

    @media screen and (min-width: $break-large) {
      padding-top: 40px;
      width: auto;
    }
  }

  .our-service-list {
    padding-left: 0;
    list-style: none;

    > li {
      padding-left: 20px;
      margin-bottom: 25px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #141416;
        left: 0;
        top: 6px;
      }

      p {
        margin-bottom: 5px;
        font-family: GR, serif;
        font-size: 16px;
        font-weight: 300;

        b {
          font-weight: bold;
          font-family: GB, serif;
          font-size: 17px;
        }
      }


    }
  }


  .group-header {
    margin-bottom: 40px;

    .group-heading {
      .title-medium {
        color: #E62045;
        padding-top: 40px;
      }

      .title-large {
        color: #000000;
        text-transform: uppercase;
        margin-top: 40px;
      }
    }


  }
}
