

.group-heading {
  .title-medium {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    font-family: GB, serif;
  }

  .title-large {

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    font-family: GB, serif;
  }
}

.breadcrumb {
  &.extend {
    background: transparent;
    padding: 0;
    margin: 0;

    .breadcrumb-item + .breadcrumb-item {
      padding-left: .3rem;
    }

    .breadcrumb-item + .breadcrumb-item::before {
      content: '';
      width: 10px;
      height: 9px;
      background: url('/assets/images/arrow-right-black.svg') center left no-repeat;
      color: #141416;
    }

    .breadcrumb-item a {
      font-family: GB;
      font-size: 12px;
      line-height: 12px;
      color: #141416;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}