.product-page {

  .breadcrumb {
    &.extend {
      .breadcrumb-item + .breadcrumb-item::before {
        color: #fff;
        background: url('/assets/images/arrow-right-white.svg') center left no-repeat;
      }

      .breadcrumb-item a {
        color: #fff;
      }
    }
  }

  .local-packages{
    padding-top: 0;

    @media screen and (min-width: $break-large) {
      padding-top: 20px;
    }
  }


  .group-header {
    margin-bottom: 5px;

    .group-heading {
      margin-top: 30px;
      margin-bottom: 10px;

      @media screen and (min-width: $break-large) {
        margin-bottom: 0px;
        margin-top: 40px;
      }

      .title-medium {
        color: #fff;
        //margin-bottom: 10px;

        @media screen and (min-width: $break-large) {
          //margin-bottom: 20px;
        }

      }

      .title-large {
        color: #FFFFFF;
      }
    }


  }
}
