
.tutorial-page {
  background: #FFBE02;
  padding-bottom: 60px;


  .tutorial-step {
    margin: 30px 0;

    p {
      font-family: GR, serif;
    }

    b {
      font-family: GB, serif;
    }
  }

  .tutorial-store {
    margin-bottom: 30px;

    img {
      width: 100%;
      vertical-align: middle;
    }
  }

  .tutorial-qr, .tutorial-store {
    h3 {
      line-height: 18px;
      margin-top: -5px;

      @media screen and (min-width: $break-large) {
        line-height: 32px;
      }

      b {
        font-family: GB, serif;
        font-size: 15px;

        @media screen and (min-width: $break-large) {
          font-size: 25px;
        }
      }
    }
  }

  .tutorial-icon-bg, .tutorial-qr-image {
    width: 100%;
  }

  .tutorial-icon-bg {
    padding: 0 1rem;

    @media screen and (min-width: $break-large) {
      padding: 0 2.5rem;
    }
  }

  .group-header {
    margin-bottom: 40px;

    .group-heading {
      .title-medium {
        color: #141416;
        padding-top: 20px;

        @media screen and (min-width: $break-large) {
          padding-top: 40px;
        }
      }

      .title-large {
        margin: 30px 0 0;
      }
    }

  }
}