@font-face {
  font-family: GB;
  src: url("../fonts/Gilroy-Bold.otf") format("truetype"); }
@font-face {
  font-family: GR;
  src: url("../fonts/Gilroy-Regular.otf") format("truetype"); }
@font-face {
  font-family: SFPDB;
  src: url("../fonts/SF-Pro-Display-Bold.otf") format("truetype"); }
@font-face {
  font-family: SFPDR;
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("truetype"); }
@font-face {
  font-family: CSM;
  src: url("../fonts/circular-std-medium-500.ttf") format("truetype"); }
body {
  font-family: GR; }

.group-heading .title-medium {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
  margin-bottom: 0;
  font-family: GB, serif; }
.group-heading .title-large {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  font-family: GB, serif; }

.breadcrumb.extend {
  background: transparent;
  padding: 0;
  margin: 0; }
  .breadcrumb.extend .breadcrumb-item + .breadcrumb-item {
    padding-left: .3rem; }
  .breadcrumb.extend .breadcrumb-item + .breadcrumb-item::before {
    content: '';
    width: 10px;
    height: 9px;
    background: url("/assets/images/arrow-right-black.svg") center left no-repeat;
    color: #141416; }
  .breadcrumb.extend .breadcrumb-item a {
    font-family: GB;
    font-size: 12px;
    line-height: 12px;
    color: #141416;
    font-weight: bold;
    text-transform: uppercase; }

.about-us-page .about-local {
  background: #FFBE02;
  padding-bottom: 30px;
  display: block; }
  .about-us-page .about-local .group-content {
    font-family: GR, serif; }
    .about-us-page .about-local .group-content .group-content-title {
      font-weight: bold;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: -0.01em;
      color: #141416;
      margin-bottom: 20px; }
      @media screen and (min-width: 1200px) {
        .about-us-page .about-local .group-content .group-content-title {
          font-size: 40px;
          line-height: 48px; } }
    .about-us-page .about-local .group-content .group-content-wrapper {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #141416; }
      .about-us-page .about-local .group-content .group-content-wrapper p {
        margin-bottom: 25px; }
  .about-us-page .about-local .icon-octopus {
    width: 100%;
    padding: 0 1rem; }
    @media screen and (min-width: 1200px) {
      .about-us-page .about-local .icon-octopus {
        padding-top: 90px;
        width: auto; } }
.about-us-page .about-image > img {
  width: 100%; }
.about-us-page .group-header {
  margin-bottom: 40px; }
  .about-us-page .group-header .group-heading {
    margin-bottom: 0; }
    .about-us-page .group-header .group-heading .title-medium {
      color: #141416;
      padding-top: 40px; }
    .about-us-page .group-header .group-heading .title-large {
      color: #FFFFFF; }

.about-address {
  padding: 50px 0;
  background: #E62045; }
  @media screen and (min-width: 1200px) {
    .about-address {
      padding: 85px 0; } }
  .about-address .about-address-info {
    margin-top: 15px;
    display: block; }
    @media screen and (min-width: 1200px) {
      .about-address .about-address-info {
        margin-top: 30px;
        max-width: 75%; } }
    .about-address .about-address-info p {
      margin-bottom: 5px;
      color: #fff;
      font-family: GR, serif;
      font-size: 16px;
      font-weight: 300; }
    .about-address .about-address-info b {
      font-weight: bold;
      font-family: GB, serif;
      font-size: 17px; }
  .about-address .about-map-wrapper {
    overflow: hidden;
    border-radius: 15px; }
    .about-address .about-map-wrapper > .about-us-image-map {
      width: 100%; }

.news-page .news-special {
  background: #E62045;
  padding-bottom: 40px; }
  .news-page .news-special .news-special-list .news-item {
    margin-bottom: 35px;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .news-page .news-special .news-special-list .news-item {
        float: left;
        width: 25%; } }
    .news-page .news-special .news-special-list .news-item .news-content .news-extra .news-extra-content {
      font-size: 10px;
      margin-bottom: 5px; }
      .news-page .news-special .news-special-list .news-item .news-content .news-extra .news-extra-content .news-extra-category {
        color: #E62045;
        margin-right: 10px; }
      .news-page .news-special .news-special-list .news-item .news-content .news-extra .news-extra-content .news-extra-time {
        color: #353945;
        font-family: GR; }
    .news-page .news-special .news-special-list .news-item .news-content .news-content-title {
      font-family: GB;
      font-size: 16px;
      line-height: 20px;
      color: #000;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 40px; }
      @media screen and (min-width: 1024px) {
        .news-page .news-special .news-special-list .news-item .news-content .news-content-title {
          font-size: 16px;
          line-height: 24px;
          height: 45px; } }
  @media screen and (min-width: 1024px) {
    .news-page .news-special .news-special-list .news-item:first-of-type {
      width: calc(75% - 35px);
      float: left;
      margin-right: 35px; } }
  .news-page .news-special .news-special-list .news-item:first-of-type .news-content {
    background: #fff; }
    @media screen and (min-width: 1024px) {
      .news-page .news-special .news-special-list .news-item:first-of-type .news-content {
        padding: 40px 40px 35px; } }
    @media screen and (min-width: 1024px) {
      .news-page .news-special .news-special-list .news-item:first-of-type .news-content .news-extra .news-extra-content {
        font-size: 12px; } }
    @media screen and (min-width: 1024px) {
      .news-page .news-special .news-special-list .news-item:first-of-type .news-content .news-content-title {
        font-size: 32px;
        line-height: 40px;
        height: 80px; } }
.news-page .news-detail {
  background: #0090FF; }
  .news-page .news-detail .group-header {
    margin-bottom: 20px; }
    @media screen and (min-width: 1600px) {
      .news-page .news-detail .group-header {
        padding-top: 30px;
        margin-bottom: 30px; } }
    .news-page .news-detail .group-header .group-heading .title-medium {
      color: #fff;
      padding-top: 30px; }
      @media screen and (min-width: 1600px) {
        .news-page .news-detail .group-header .group-heading .title-medium {
          padding-top: 30px; } }
  .news-page .news-detail .news-detail-content .news-detail-wrapper {
    color: #fff; }
    @media screen and (min-width: 1600px) {
      .news-page .news-detail .news-detail-content .news-detail-wrapper {
        padding-right: 30px; } }
    .news-page .news-detail .news-detail-content .news-detail-wrapper .news-content-cover {
      border-radius: 15px;
      overflow: hidden; }
      .news-page .news-detail .news-detail-content .news-detail-wrapper .news-content-cover img {
        width: 100%; }
    .news-page .news-detail .news-detail-content .news-detail-wrapper .news-content-title {
      margin-top: 30px;
      margin-bottom: 20px;
      display: block; }
    .news-page .news-detail .news-detail-content .news-detail-wrapper .news-content-wrapper {
      font-family: GR; }
      .news-page .news-detail .news-detail-content .news-detail-wrapper .news-content-wrapper p {
        margin-bottom: 30px; }
      .news-page .news-detail .news-detail-content .news-detail-wrapper .news-content-wrapper b {
        font-weight: bold;
        font-family: GB; }
      .news-page .news-detail .news-detail-content .news-detail-wrapper .news-content-wrapper ul {
        padding-left: 0;
        margin-left: 15px; }
  .news-page .news-detail .news-categories-title {
    font-family: GR;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 30px; }
    @media screen and (min-width: 1600px) {
      .news-page .news-detail .news-categories-title {
        margin-top: -5px; } }
  .news-page .news-detail .news-categories-list {
    color: #fff;
    margin-left: 0;
    padding-left: 0;
    list-style: none; }
    .news-page .news-detail .news-categories-list li {
      margin-bottom: 10px; }
      .news-page .news-detail .news-categories-list li.active a {
        color: #FFBE02; }
      .news-page .news-detail .news-categories-list li a {
        color: #fff;
        font-family: GR;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px; }
.news-page .news-item {
  border-radius: 15px;
  overflow: hidden;
  width: 30%; }
  .news-page .news-item .news-thumbnail {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden; }
    .news-page .news-item .news-thumbnail > a {
      display: block; }
    .news-page .news-item .news-thumbnail img {
      width: 100%; }
  .news-page .news-item .news-content {
    background: #fff;
    padding: 20px; }
    .news-page .news-item .news-content .news-extra .news-extra-content {
      font-size: 10px; }
      .news-page .news-item .news-content .news-extra .news-extra-content .news-extra-category {
        color: #E62045;
        margin-right: 10px; }
      .news-page .news-item .news-content .news-extra .news-extra-content .news-extra-time {
        color: #353945;
        font-family: GR; }
    .news-page .news-item .news-content .news-content-title {
      font-family: GB;
      font-size: 32px;
      line-height: 40px;
      color: #000; }
      .news-page .news-item .news-content .news-content-title > a {
        color: #000;
        display: block; }
    .news-page .news-item .news-content .news-more {
      color: #31B9C8;
      font-weight: bold;
      font-family: GB;
      font-size: 14px;
      line-height: 16px; }
      @media screen and (min-width: 1024px) {
        .news-page .news-item .news-content .news-more {
          font-size: 16px; } }
.news-page .group-header {
  margin-bottom: 40px; }
  .news-page .group-header .group-heading {
    margin-bottom: 0; }
    .news-page .group-header .group-heading .title-medium {
      color: #fff;
      padding-top: 60px; }
    .news-page .group-header .group-heading .title-large {
      color: #FFFFFF; }

.contact-page .contact-content {
  background: transparent;
  padding-bottom: 30px; }
  @media screen and (min-width: 1024px) {
    .contact-page .contact-content {
      padding: 40px 0;
      background: #FFBE02; } }
  @media screen and (min-width: 1024px) {
    .contact-page .contact-content .contact-left {
      padding-right: 100px; } }
  .contact-page .contact-content .contact-wrapper {
    background: #fff;
    border-radius: 20px; }
    @media screen and (min-width: 1024px) {
      .contact-page .contact-content .contact-wrapper {
        padding: 60px; } }
    .contact-page .contact-content .contact-wrapper .contact-form label {
      font-family: GB;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      color: #676879; }
    .contact-page .contact-content .contact-wrapper .contact-form input, .contact-page .contact-content .contact-wrapper .contact-form textarea {
      background: #F7F7F7;
      border-radius: 4px;
      font-family: GR;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #B1B5C3;
      padding: 15px 10px; }
    .contact-page .contact-content .contact-wrapper .contact-form textarea {
      padding-top: 10px; }
    .contact-page .contact-content .contact-wrapper .contact-form .contact-btn-submit {
      background: #E62045;
      border: 1px solid #E62045;
      box-sizing: border-box;
      border-radius: 54px;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      font-family: GB;
      padding: 10px 25px;
      margin-top: 15px; }
  .contact-page .contact-content .contact-icon-map {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px; }
    @media screen and (min-width: 1024px) {
      .contact-page .contact-content .contact-icon-map {
        margin-top: 0;
        margin-bottom: 0; } }
.contact-page .group-header {
  margin-bottom: 5px; }
  .contact-page .group-header .group-heading {
    margin-top: 40px;
    margin-bottom: 30px; }
    @media screen and (min-width: 1024px) {
      .contact-page .group-header .group-heading {
        margin-bottom: 40px;
        margin-top: -10px; } }
    .contact-page .group-header .group-heading .title-medium {
      color: #E62045;
      margin-bottom: 10px; }
      @media screen and (min-width: 1024px) {
        .contact-page .group-header .group-heading .title-medium {
          margin-bottom: 20px; } }
    .contact-page .group-header .group-heading .title-large {
      color: #FFFFFF; }

.product-page .breadcrumb.extend .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
  background: url("/assets/images/arrow-right-white.svg") center left no-repeat; }
.product-page .breadcrumb.extend .breadcrumb-item a {
  color: #fff; }
.product-page .local-packages {
  padding-top: 0; }
  @media screen and (min-width: 1200px) {
    .product-page .local-packages {
      padding-top: 20px; } }
.product-page .group-header {
  margin-bottom: 5px; }
  .product-page .group-header .group-heading {
    margin-top: 30px;
    margin-bottom: 10px; }
    @media screen and (min-width: 1200px) {
      .product-page .group-header .group-heading {
        margin-bottom: 0px;
        margin-top: 40px; } }
    .product-page .group-header .group-heading .title-medium {
      color: #fff; }
    .product-page .group-header .group-heading .title-large {
      color: #FFFFFF; }

.experience-page .experience-special {
  background: #FFBE02;
  padding: 40px 0; }
  @media screen and (min-width: 1024px) {
    .experience-page .experience-special {
      padding: 60px 0; } }
  .experience-page .experience-special .experience-content .experience-special-thumbnail {
    border-radius: 15px;
    overflow: hidden; }
    .experience-page .experience-special .experience-content .experience-special-thumbnail img {
      width: 100%; }
  .experience-page .experience-special .experience-content .experience-special-content .experience-special-extra {
    color: #141416; }
    .experience-page .experience-special .experience-content .experience-special-content .experience-special-extra .experience-se-content {
      margin-bottom: 5px;
      font-size: 12px;
      line-height: 20px; }
      .experience-page .experience-special .experience-content .experience-special-content .experience-special-extra .experience-se-content .ese-category {
        margin-right: 10px; }
  .experience-page .experience-special .experience-content .experience-special-content .experience-special-title {
    font-family: GB;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #141416; }
  .experience-page .experience-special .experience-content .experience-special-content .experience-special-description {
    font-family: GR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #141416; }
  .experience-page .experience-special .experience-content .experience-special-content .experience-special-more {
    font-family: GB;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #E62045; }
.experience-page .new-promotion {
  padding: 40px 0; }
  .experience-page .new-promotion .content-new .tab-content {
    margin-top: 0; }
  .experience-page .new-promotion .content-new .item-promotion {
    margin-bottom: 30px; }
.experience-page .group-header {
  margin-bottom: 40px; }
  .experience-page .group-header .group-heading {
    margin-bottom: 0; }
    .experience-page .group-header .group-heading .title-medium {
      color: #E62045; }
    .experience-page .group-header .group-heading .title-large {
      color: #FFFFFF; }

.tutorial-page {
  background: #FFBE02;
  padding-bottom: 60px; }
  .tutorial-page .tutorial-step {
    margin: 30px 0; }
    .tutorial-page .tutorial-step p {
      font-family: GR, serif; }
    .tutorial-page .tutorial-step b {
      font-family: GB, serif; }
  .tutorial-page .tutorial-store {
    margin-bottom: 30px; }
    .tutorial-page .tutorial-store img {
      width: 100%;
      vertical-align: middle; }
  .tutorial-page .tutorial-qr h3, .tutorial-page .tutorial-store h3 {
    line-height: 18px;
    margin-top: -5px; }
    @media screen and (min-width: 1200px) {
      .tutorial-page .tutorial-qr h3, .tutorial-page .tutorial-store h3 {
        line-height: 32px; } }
    .tutorial-page .tutorial-qr h3 b, .tutorial-page .tutorial-store h3 b {
      font-family: GB, serif;
      font-size: 15px; }
      @media screen and (min-width: 1200px) {
        .tutorial-page .tutorial-qr h3 b, .tutorial-page .tutorial-store h3 b {
          font-size: 25px; } }
  .tutorial-page .tutorial-icon-bg, .tutorial-page .tutorial-qr-image {
    width: 100%; }
  .tutorial-page .tutorial-icon-bg {
    padding: 0 1rem; }
    @media screen and (min-width: 1200px) {
      .tutorial-page .tutorial-icon-bg {
        padding: 0 2.5rem; } }
  .tutorial-page .group-header {
    margin-bottom: 40px; }
    .tutorial-page .group-header .group-heading .title-medium {
      color: #141416;
      padding-top: 20px; }
      @media screen and (min-width: 1200px) {
        .tutorial-page .group-header .group-heading .title-medium {
          padding-top: 40px; } }
    .tutorial-page .group-header .group-heading .title-large {
      margin: 30px 0 0; }

.faq-page {
  padding-bottom: 40px; }
  .faq-page .local-question {
    padding: 0; }
  .faq-page .faq-content .faq-image-bg {
    width: 100%;
    margin-top: 40px;
    padding: 0 1rem; }
    @media screen and (min-width: 1200px) {
      .faq-page .faq-content .faq-image-bg {
        margin-top: 0;
        padding: 0; } }
  .faq-page .group-header {
    margin-bottom: 40px; }
    .faq-page .group-header .group-heading .title-medium {
      color: #E62045;
      padding-top: 20px; }
      @media screen and (min-width: 1200px) {
        .faq-page .group-header .group-heading .title-medium {
          padding-top: 40px; } }
    .faq-page .group-header .group-heading .title-large {
      margin: 30px 0 0; }

.our-service-page .our-service-experience {
  background: #FFBE02;
  padding-bottom: 50px;
  display: block; }
.our-service-page .our-service-image > img {
  width: 100%; }
.our-service-page .our-service-expand {
  background: #F93649;
  padding: 30px 0 20px; }
  .our-service-page .our-service-expand .our-service-list > li:before {
    background: #fff; }
  .our-service-page .our-service-expand .our-service-list > li > p {
    color: #fff; }
  .our-service-page .our-service-expand .group-header {
    margin-bottom: 40px; }
    .our-service-page .our-service-expand .group-header .group-heading .title-large {
      margin-top: 20px;
      color: #fff; }
      @media screen and (min-width: 1200px) {
        .our-service-page .our-service-expand .group-header .group-heading .title-large {
          margin-top: 60px; } }
.our-service-page .our-service-bg {
  width: 100%;
  padding: 0 1rem; }
  @media screen and (min-width: 1200px) {
    .our-service-page .our-service-bg {
      padding-top: 40px;
      width: auto; } }
.our-service-page .our-service-list {
  padding-left: 0;
  list-style: none; }
  .our-service-page .our-service-list > li {
    padding-left: 20px;
    margin-bottom: 25px;
    position: relative; }
    .our-service-page .our-service-list > li:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #141416;
      left: 0;
      top: 6px; }
    .our-service-page .our-service-list > li p {
      margin-bottom: 5px;
      font-family: GR, serif;
      font-size: 16px;
      font-weight: 300; }
      .our-service-page .our-service-list > li p b {
        font-weight: bold;
        font-family: GB, serif;
        font-size: 17px; }
.our-service-page .group-header {
  margin-bottom: 40px; }
  .our-service-page .group-header .group-heading .title-medium {
    color: #E62045;
    padding-top: 40px; }
  .our-service-page .group-header .group-heading .title-large {
    color: #000000;
    text-transform: uppercase;
    margin-top: 40px; }

.cooperate-page .cooperate-local {
  background: #0090FF;
  padding-bottom: 30px;
  display: block; }
  @media screen and (min-width: 1200px) {
    .cooperate-page .cooperate-local {
      padding-bottom: 80px; } }
  .cooperate-page .cooperate-local .breadcrumb.extend .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
    background: url("/assets/images/arrow-right-white.svg") center left no-repeat; }
  .cooperate-page .cooperate-local .breadcrumb.extend .breadcrumb-item a {
    color: #fff; }
  .cooperate-page .cooperate-local .cooperate-local-content {
    color: #fff3cd; }
    .cooperate-page .cooperate-local .cooperate-local-content p {
      margin-bottom: 15px;
      font-family: GR;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px; }
    .cooperate-page .cooperate-local .cooperate-local-content ul {
      list-style: none;
      padding-left: 0; }
      .cooperate-page .cooperate-local .cooperate-local-content ul > li {
        padding-left: 20px;
        margin-bottom: 10px;
        position: relative; }
        .cooperate-page .cooperate-local .cooperate-local-content ul > li:before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background: #fff;
          left: 0;
          top: 8px; }
    .cooperate-page .cooperate-local .cooperate-local-content b {
      font-family: GB; }
  .cooperate-page .cooperate-local .cooperate-local-viral {
    width: 100%;
    margin-top: 25px;
    display: block; }
    @media screen and (min-width: 1200px) {
      .cooperate-page .cooperate-local .cooperate-local-viral {
        width: 375px; } }
    .cooperate-page .cooperate-local .cooperate-local-viral img {
      width: 100%; }
    .cooperate-page .cooperate-local .cooperate-local-viral .cooperate-local-apple {
      margin-bottom: 20px; }
      @media screen and (min-width: 1200px) {
        .cooperate-page .cooperate-local .cooperate-local-viral .cooperate-local-apple {
          margin-bottom: 10px; } }
    .cooperate-page .cooperate-local .cooperate-local-viral .tutorial-qr-image {
      width: 128px;
      height: 128px; }
  .cooperate-page .cooperate-local .icon-cooperate-bg {
    width: 100%;
    padding: 0 1rem;
    margin-top: 30px; }
    @media screen and (min-width: 1200px) {
      .cooperate-page .cooperate-local .icon-cooperate-bg {
        padding-top: 100px;
        width: 100%;
        margin-top: 0; } }
.cooperate-page .cooperate-interview {
  background: url("/assets/images/cooperate-interview-bg.jpg") #293754 top center no-repeat;
  background-size: 100%; }
  @media screen and (min-width: 1200px) {
    .cooperate-page .cooperate-interview {
      padding-bottom: 50px; } }
  .cooperate-page .cooperate-interview > .container {
    padding-right: 0px;
    padding-left: 0px; }
    @media screen and (min-width: 1200px) {
      .cooperate-page .cooperate-interview > .container {
        padding-left: 15px;
        padding-right: 15px; } }
  .cooperate-page .cooperate-interview .cooperate-interview-title {
    margin-top: 100px;
    font-family: GB;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF; }
    @media screen and (min-width: 1200px) {
      .cooperate-page .cooperate-interview .cooperate-interview-title {
        margin-top: 300px;
        font-size: 48px;
        line-height: 50px; } }
  .cooperate-page .cooperate-interview .cooperate-interview-description {
    font-family: GR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF; }
  .cooperate-page .cooperate-interview .cooperate-interview-wrapper {
    background: #fff;
    padding: 30px; }
    @media screen and (min-width: 1600px) {
      .cooperate-page .cooperate-interview .cooperate-interview-wrapper {
        padding: 50px;
        border-radius: 15px; } }
    .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item {
      border-radius: 15px;
      border: 1px solid #ddd;
      padding: 20px;
      margin-bottom: 25px;
      display: block; }
      .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-item-brand {
        display: block;
        width: 53px;
        height: 53px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 10px; }
        .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-item-brand .icon-cooperate-bg {
          width: 100%; }
      .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-item-title {
        font-family: GB;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        color: #000000; }
        @media screen and (min-width: 1600px) {
          .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-item-title {
            font-size: 24px;
            line-height: 32px; } }
      .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-item-description {
        font-family: GR;
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #777E90; }
        @media screen and (min-width: 1600px) {
          .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-item-description {
            font-size: 12px;
            line-height: 16px; } }
      .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-item-tag {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap; }
        .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-item-tag li {
          font-family: GR;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
          color: #B1B5C3;
          background: #F2F2F2;
          border-radius: 11px;
          padding: 5px 12px;
          margin-right: 10px;
          margin-bottom: 10px; }
      .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-interview-btn-apply {
        background: #E62045;
        border-radius: 90px;
        color: #fff;
        padding: 6px 17px;
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        font-family: GR; }
        @media screen and (min-width: 1600px) {
          .cooperate-page .cooperate-interview .cooperate-interview-wrapper .cooperate-interview-item .cooperate-interview-btn-apply {
            padding: 10px 22px; } }
.cooperate-page .group-header {
  margin-bottom: 40px; }
  .cooperate-page .group-header .group-heading {
    margin-bottom: 0; }
    .cooperate-page .group-header .group-heading .title-medium {
      color: #fff;
      padding-top: 50px; }
    .cooperate-page .group-header .group-heading .title-large {
      color: #FFFFFF; }

.container-custom {
  margin: auto; }
  @media screen and (min-width: 320px) {
    .container-custom {
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px; } }
  @media screen and (min-width: 1200px) {
    .container-custom {
      max-width: 80%; } }
  @media screen and (min-width: 1600px) {
    .container-custom {
      max-width: 1400px; } }

main {
  padding-top: 66px;
  display: block; }

.header {
  background: #E62045;
  position: fixed;
  width: 100%;
  z-index: 9999; }
  .header .bg-local-mobile {
    background: #000000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%; }
  .header .main-menu {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between; }
    @media screen and (min-width: 320px) {
      .header .main-menu {
        padding: 25px 0; } }
    @media screen and (min-width: 1200px) {
      .header .main-menu {
        padding: 0; } }
    @media screen and (min-width: 320px) {
      .header .main-menu .logo img {
        width: 50px; } }
    @media screen and (min-width: 1200px) {
      .header .main-menu .logo img {
        width: 86px; } }
    .header .main-menu .nav-menu {
      padding-left: 0;
      list-style: none;
      align-items: center;
      margin-bottom: 0; }
      @media screen and (min-width: 320px) {
        .header .main-menu .nav-menu {
          position: fixed;
          top: 0;
          left: -100%;
          height: 100%;
          width: 80%;
          background: #E62045;
          display: block;
          padding: 30px 0;
          z-index: 10; } }
      @media screen and (min-width: 768px) {
        .header .main-menu .nav-menu {
          width: 50%; } }
      @media screen and (min-width: 1200px) {
        .header .main-menu .nav-menu {
          display: flex;
          position: unset;
          padding: 0;
          width: 100%; } }
      .header .main-menu .nav-menu li {
        position: relative; }
        @media screen and (min-width: 320px) {
          .header .main-menu .nav-menu li {
            padding: 10px 15px; } }
        @media screen and (min-width: 1200px) {
          .header .main-menu .nav-menu li {
            padding: 25px 16px; } }
        .header .main-menu .nav-menu li a {
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          text-decoration: none;
          font-family: GR;
          display: flex;
          justify-content: space-between; }
          .header .main-menu .nav-menu li a .dropdown_toggle {
            border: none;
            background: transparent; }
          .header .main-menu .nav-menu li a .dropdown_toggle:focus {
            outline: none; }
        .header .main-menu .nav-menu li .submenu {
          display: none;
          list-style: none;
          padding-left: 0;
          z-index: 10;
          min-width: 220px;
          background: #E62045; }
          @media screen and (min-width: 320px) {
            .header .main-menu .nav-menu li .submenu {
              padding: 0 15px; } }
          @media screen and (min-width: 1200px) {
            .header .main-menu .nav-menu li .submenu {
              position: absolute;
              top: 68px;
              left: 0;
              padding: 0; } }
          @media screen and (min-width: 320px) {
            .header .main-menu .nav-menu li .submenu li {
              padding: 10px 0; } }
          @media screen and (min-width: 1200px) {
            .header .main-menu .nav-menu li .submenu li {
              padding: 10px 15px; } }
        .header .main-menu .nav-menu li .show {
          display: block; }
          @media screen and (min-width: 320px) {
            .header .main-menu .nav-menu li .show {
              padding-top: 10px;
              width: 100%; } }
          @media screen and (min-width: 1200px) {
            .header .main-menu .nav-menu li .show {
              padding-top: 0;
              width: unset; } }
        .header .main-menu .nav-menu li .submenu li:hover {
          background: #ef7d13; }
      @media screen and (min-width: 1200px) {
        .header .main-menu .nav-menu li:hover .submenu {
          display: block; } }
    @media screen and (min-width: 320px) {
      .header .main-menu .nav-menu-right {
        display: block;
        margin-left: 0;
        text-align: left;
        list-style: none;
        padding-left: 0; } }
    @media screen and (min-width: 1200px) {
      .header .main-menu .nav-menu-right {
        text-align: center;
        margin-bottom: 0;
        margin-left: 50px;
        display: flex;
        text-align: unset; } }
    .header .main-menu .nav-menu-right li {
      margin: auto; }
      @media screen and (min-width: 320px) {
        .header .main-menu .nav-menu-right li {
          padding: 10px 15px; } }
      @media screen and (min-width: 1200px) {
        .header .main-menu .nav-menu-right li {
          padding: 0 16px; } }
      .header .main-menu .nav-menu-right li a {
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        text-decoration: none;
        font-family: GR; }
      .header .main-menu .nav-menu-right li .select-currency {
        border: none;
        background: transparent;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        font-family: GB; }
  @media screen and (min-width: 320px) {
    .header .menu-mobile {
      display: block;
      margin-left: auto; } }
  @media screen and (min-width: 1200px) {
    .header .menu-mobile {
      display: none; } }
  .header .close-menu {
    position: absolute;
    top: 12px;
    right: 25px;
    z-index: 4; }
    @media screen and (min-width: 320px) {
      .header .close-menu {
        display: block; } }
    @media screen and (min-width: 1200px) {
      .header .close-menu {
        display: none; } }
  .header .logo-menu {
    padding: 0 15px 25px 15px; }
    @media screen and (min-width: 320px) {
      .header .logo-menu {
        display: block; } }
    @media screen and (min-width: 1200px) {
      .header .logo-menu {
        display: none; } }

.banner .item-banner {
  background: #FFBE02;
  position: relative; }
  @media screen and (min-width: 320px) {
    .banner .item-banner {
      height: 0;
      padding-top: 180%;
      position: relative; } }
  @media screen and (min-width: 1024px) {
    .banner .item-banner {
      height: 0;
      padding-top: 42%;
      position: relative; } }
  .banner .item-banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: center;
    left: 0; }
.banner .owl-nav {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 100%; }
  .banner .owl-nav button.owl-prev {
    position: absolute;
    left: 5%;
    transform: translate(-50%, -50%); }
  .banner .owl-nav button.owl-prev:focus, .banner .owl-nav button.owl-next:focus {
    outline: none; }
  .banner .owl-nav button.owl-prev:hover, .banner .owl-nav button.owl-next:hover {
    background: transparent; }
  .banner .owl-nav button.owl-next {
    position: absolute;
    right: 5%;
    transform: translate(-50%, -50%); }
.banner .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%); }
.banner .owl-theme .owl-dots .owl-dot.active span, .banner .owl-theme .owl-dots .owl-dot:hover span {
  background: #E83E4B; }
.banner .owl-theme .owl-dots .owl-dot span {
  background: white; }

@media screen and (min-width: 320px) {
  .banner_desktop {
    display: none; } }
@media screen and (min-width: 1024px) {
  .banner_desktop {
    display: block; } }

@media screen and (min-width: 320px) {
  .banner_mobile {
    display: block; } }
@media screen and (min-width: 1024px) {
  .banner_mobile {
    display: none; } }

.local {
  background: #E62045; }
  @media screen and (min-width: 320px) {
    .local {
      height: auto;
      padding-top: 42px; } }
  @media screen and (min-width: 1200px) {
    .local {
      height: 536px;
      padding-top: 68px; } }
  @media screen and (min-width: 320px) {
    .local .box-video {
      padding-top: 0px; } }
  @media screen and (min-width: 1200px) {
    .local .box-video {
      padding-top: 0px; } }
  .local .box-video .image-video {
    position: relative; }
    .local .box-video .image-video .circle-button {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.local-packages {
  background: #293754; }
  @media screen and (min-width: 320px) {
    .local-packages {
      padding-top: 50px; } }
  @media screen and (min-width: 1200px) {
    .local-packages {
      padding-top: 320px; } }

.group-heading .heading-title {
  font-family: GB;
  font-weight: bold;
  font-size: 45px;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #FFFFFF; }
.group-heading .title-step {
  color: #E62045 !important; }
  @media screen and (min-width: 320px) {
    .group-heading .title-step {
      width: 68%; } }
  @media screen and (min-width: 1200px) {
    .group-heading .title-step {
      width: 58% !important; } }
.group-heading .overview {
  font-family: GR;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  text-align: center; }

@media screen and (min-width: 320px) {
  .local-packages {
    padding-bottom: 40px; } }
@media screen and (min-width: 1200px) {
  .local-packages {
    padding-bottom: 70px; } }
@media screen and (min-width: 320px) {
  .local-packages .list-package {
    margin-top: 20px; } }
@media screen and (min-width: 1200px) {
  .local-packages .list-package {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 60px; } }
.local-packages .list-package .red {
  background: radial-gradient(50% 50% at 50% 50%, #F95936 0%, #F93649 100%); }
.local-packages .list-package .yellow {
  background: radial-gradient(50% 50% at 50% 50%, #F7B815 0%, #FFA200 100%), radial-gradient(50% 50% at 50% 50%, #87E382 0%, #62B45D 100%); }
.local-packages .list-package .blue {
  background: radial-gradient(50% 50% at 50% 50%, #67EDF5 0%, #31B9C8 100%); }
.local-packages .list-package .box-package {
  border-radius: 20px;
  position: relative;
  margin-bottom: 25px; }
  @media screen and (min-width: 320px) {
    .local-packages .list-package .box-package {
      padding: 36px 18px 36px; } }
  @media screen and (min-width: 1200px) {
    .local-packages .list-package .box-package {
      padding: 22px 30px 40px; } }
  .local-packages .list-package .box-package .pack-of-data-text {
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
    font-family: GB; }
  .local-packages .list-package .box-package .number-package {
    font-weight: bold;
    font-family: GB;
    color: #FFFFFF; }
    @media screen and (min-width: 320px) {
      .local-packages .list-package .box-package .number-package {
        font-size: 32px;
        line-height: 40px; } }
    @media screen and (min-width: 1200px) {
      .local-packages .list-package .box-package .number-package {
        font-size: 40px;
        line-height: 50px; } }
  .local-packages .list-package .box-package h4 {
    font-weight: bold;
    font-family: GB;
    color: #FFFFFF; }
    @media screen and (min-width: 320px) {
      .local-packages .list-package .box-package h4 {
        font-size: 55px;
        line-height: 56px; } }
    @media screen and (min-width: 1200px) {
      .local-packages .list-package .box-package h4 {
        font-size: 60px;
        line-height: 66px; } }
    .local-packages .list-package .box-package h4 span {
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      color: #FFFFFF;
      font-family: GB; }
  .local-packages .list-package .box-package .description {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    font-family: GR; }
  .local-packages .list-package .box-package .btn-register {
    background: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 70px;
    font-weight: bold;
    font-family: GB;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 14px; }
    @media screen and (min-width: 320px) {
      .local-packages .list-package .box-package .btn-register {
        font-size: 14px;
        padding: 12px 26px;
        margin-top: 20px; } }
    @media screen and (min-width: 374px) {
      .local-packages .list-package .box-package .btn-register {
        font-size: 14px;
        padding: 12px 32px;
        margin-top: 20px; } }
    @media screen and (min-width: 1200px) {
      .local-packages .list-package .box-package .btn-register {
        margin-top: 50px;
        font-size: 16px;
        padding: 12px 32px; } }
  .local-packages .list-package .box-package .data_date {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-bottom: 0;
    font-family: GR; }
  .local-packages .list-package .box-package .icon-package {
    position: absolute;
    bottom: 0; }
    @media screen and (min-width: 320px) {
      .local-packages .list-package .box-package .icon-package {
        right: 14px;
        width: 116px; } }
    @media screen and (min-width: 374px) {
      .local-packages .list-package .box-package .icon-package {
        width: unset; } }
    @media screen and (min-width: 1200px) {
      .local-packages .list-package .box-package .icon-package {
        right: 30px; } }
    .local-packages .list-package .box-package .icon-package img {
      width: 100%; }
.local-packages .more-infomation {
  margin: auto;
  text-align: center;
  margin-top: 50px; }
  .local-packages .more-infomation .btn-more {
    width: 214px;
    background: #E62045;
    border-radius: 70px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 16px; }

@media screen and (min-width: 320px) {
  .local-question {
    padding: 44px 0px 100px 0; } }
@media screen and (min-width: 1024px) {
  .local-question {
    padding: 100px 0px; } }
.local-question .section-heading {
  margin-bottom: 48px; }
  .local-question .section-heading h2 {
    font-family: GB;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFBE02;
    text-align: center; }
    @media screen and (min-width: 320px) {
      .local-question .section-heading h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.01em;
        width: 60%; } }
    @media screen and (min-width: 1024px) {
      .local-question .section-heading h2 {
        font-size: 48px;
        line-height: 56px;
        width: 66%;
        letter-spacing: -0.02em; } }
.local-question #accordion {
  background: #ffbe02;
  padding: 48px 40px 50px 48px;
  border-radius: 20px;
  box-shadow: 5px 3px 0px 3px #EF7D13;
  margin-bottom: 30px;
  border: 1.5px solid #B1B5C3; }
.local-question .card {
  background-color: transparent;
  border: 0px solid; }
.local-question .accordion > .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.local-question .accordion > .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.local-question .card-header {
  border-bottom: 0px solid;
  background-color: transparent;
  padding: 15px 0px; }
.local-question .card-header a {
  width: 100%;
  display: inline-block;
  color: #353945;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding-right: 20px; }
.local-question .card-header a:after {
  content: url("../images/icon-tab-close.png");
  position: absolute;
  right: 0px;
  top: 5%; }
.local-question .card-header a[aria-expanded="true"]:after {
  content: url("../images/icon-tab-open.png"); }
.local-question .card-header a[aria-expanded="true"] {
  color: #E62045; }
.local-question .card-body, .local-question .card-body p {
  font-size: 16px;
  color: #353945; }
.local-question .section-8 img {
  max-width: 100%;
  max-height: 100%; }
.local-question .style-link-1 {
  color: #31B9C8;
  font-weight: bold;
  text-decoration: none; }
.local-question .style-link-1:hover {
  color: #31B9C8;
  text-decoration: none; }
@media (max-width: 767px) {
  .local-question .image-question {
    margin-top: 48px; }
  .local-question .local-question {
    padding: 44px 0px 100px; }
  .local-question .local-question .col-lg-7 {
    padding-top: 0px !important; }
  .local-question .local-question .col-lg-5 {
    padding-top: 43px !important; }
  .local-question #accordion {
    padding: 31px 29px 24px 21px;
    width: 98%; }
  .local-question .card-header a {
    font-size: 16px;
    line-height: 20px; } }

.local-step {
  padding: 100px 0px; }
  .local-step h2 {
    font-family: GB;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #E62045;
    text-transform: uppercase; }
  .local-step .section-heading {
    margin: 0px auto 60px auto; }
  .local-step .box-col-4 .feature-img {
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px; }
  .local-step .box-col-4 .feature-img img {
    max-width: 100%; }
    @media screen and (min-width: 320px) {
      .local-step .box-col-4 .feature-img img {
        width: 100%;
        height: 220px; } }
    @media screen and (min-width: 1024px) {
      .local-step .box-col-4 .feature-img img {
        height: 179px; } }
  .local-step .col4-content {
    text-align: center; }
  .local-step .col4-content p.content_step {
    font-family: GB;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    text-transform: uppercase; }
  .local-step .col4-content h3 {
    font-family: GB;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px; }
  .local-step .col4-content p {
    color: #141416; }
  .local-step .section-button {
    text-align: center;
    margin-top: 76px; }
  .local-step .section-button a {
    width: 214px;
    padding: 16px;
    line-height: 22px;
    font-weight: bold;
    font-size: 16px;
    background: #E62045;
    border-radius: 90px;
    color: #FFFFFF; }

.section-button {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

.section-button a {
  width: 214px;
  padding: 16px;
  line-height: 22px;
  font-weight: bold;
  font-size: 16px;
  background: #E62045;
  border-radius: 90px;
  color: #FFFFFF; }

@media (max-width: 767px) {
  .local-step {
    padding: 60px 0px 51px; }

  .local-step .section-heading {
    margin: 0px auto 32px auto; }

  .local-step .col-lg-3 {
    margin-bottom: 45px; }

  .local-step .section-button {
    margin-top: 0px; }

  .box-col-4 .feature-img {
    padding: 0px;
    margin-bottom: 24px; }

  .box-col-4 .feature-img img {
    height: 100%; }

  .col4-content p.content_step {
    margin-bottom: 15px; }

  .col4-content {
    padding: 0px 30px; } }
.section-6 h2 {
  color: #fff; }

.box-feature-2-img {
  text-align: center; }

.box-feature-2-img img {
  max-width: 100%;
  max-height: 100%; }

.box-2-content {
  padding: 20px;
  text-align: center;
  color: #fff; }

.box-2-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700; }

.box-2-content p {
  color: #fff; }

@media (max-width: 767px) {
  .section-6 {
    padding: 52px 0px 80px !important; }

  .section-6 .section-heading {
    margin: 0px auto 20px auto; }

  .box-2-content {
    padding: 17px 20px 50px; }

  .box-2-content h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 29px; }

  .box-2-content p {
    font-size: 14px;
    line-height: 20px; } }
@media screen and (min-width: 320px) {
  .group-heading {
    margin-bottom: 20px; } }
@media screen and (min-width: 1024px) {
  .group-heading {
    margin-bottom: 76px; } }
.group-heading .title-heading {
  font-family: GB;
  font-weight: bold;
  text-align: center;
  color: #FEF8F8;
  text-transform: uppercase;
  margin: auto; }
  @media screen and (min-width: 320px) {
    .group-heading .title-heading {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.01em; } }
  @media screen and (min-width: 1024px) {
    .group-heading .title-heading {
      font-size: 48px;
      line-height: 56px;
      width: 58%;
      letter-spacing: -0.02em; } }
@media screen and (min-width: 320px) {
  .group-heading .title-service {
    width: 76%; } }
@media screen and (min-width: 1024px) {
  .group-heading .title-service {
    width: 30%; } }
.group-heading .title-feelling {
  color: #000000; }
.group-heading .overview {
  font-family: GR;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 10px; }

@media screen and (min-width: 320px) {
  .experience-mobile {
    display: block;
    padding: 40px 0 85px 0; }
    .experience-mobile .group-heading {
      margin-bottom: 25px; }
      .experience-mobile .group-heading .title-heading {
        width: 100%;
        font-family: GB;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #FEF8F8; }
    .experience-mobile .box-experience {
      display: block !important; }
      .experience-mobile .box-experience .experience-left {
        width: 100% !important;
        height: 170px;
        padding: 36px 16px !important;
        border-radius: 20px 20px 0 0 !important; }
        .experience-mobile .box-experience .experience-left img {
          width: 80px;
          height: 100px;
          margin: auto; }
      .experience-mobile .box-experience .experience-right {
        width: 100% !important;
        border-radius: 0px 0px 20px 20px !important;
        padding: 20px 15px !important; }
        .experience-mobile .box-experience .experience-right .more-infor {
          position: unset !important; }
        .experience-mobile .box-experience .experience-right h4 {
          font-weight: bold;
          font-size: 16px !important;
          line-height: 16px !important; }
        .experience-mobile .box-experience .experience-right .desciption {
          font-size: 10px !important;
          line-height: 13px !important;
          height: 64px !important;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical; }
        .experience-mobile .box-experience .experience-right .more-infor {
          font-size: 10px !important;
          line-height: 8px !important;
          display: flex !important; }
          .experience-mobile .box-experience .experience-right .more-infor img {
            width: 10px !important;
            margin-left: 5px !important; }

  .experience-desktop {
    display: none; } }
.owl-carousel .owl-item, .owl-stage, .owl-stage-outer, .owl-carousel, .item-promotion, .box-feature-img {
  transform: none !important;
  overflow: hidden; }

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@media screen and (min-width: 1024px) {
  .experience-mobile {
    display: none; }

  .experience-desktop {
    display: block; } }
.local-experience {
  background: #0090FF;
  padding: 76px 0 96px 0; }
  .local-experience .box-experience {
    display: flex;
    margin-bottom: 30px;
    min-height: 260px; }
    .local-experience .box-experience .experience-left {
      width: 40%;
      padding: 16px;
      text-align: center;
      border-radius: 20px 0 0 20px; }
    .local-experience .box-experience .experience-right {
      width: 60%;
      background: #FFFFFF;
      border-radius: 0px 20px 20px 0px;
      padding: 44px 58px 40px 50px;
      position: relative; }
      .local-experience .box-experience .experience-right .more-infor {
        font-family: GB;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: #31B9C8; }
      .local-experience .box-experience .experience-right h4 {
        font-family: GB;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px; }
      .local-experience .box-experience .experience-right .text-red {
        color: #F93649; }
      .local-experience .box-experience .experience-right .text-green {
        color: #62B45D; }
      .local-experience .box-experience .experience-right .text-yellow {
        color: #F7A515; }
      .local-experience .box-experience .experience-right .description {
        font-family: GR;
        font-size: 16px;
        line-height: 24px; }
      .local-experience .box-experience .experience-right .more-infor {
        position: absolute;
        bottom: 40px;
        left: 50px;
        z-index: 2; }
  .local-experience .red {
    background: radial-gradient(50% 50% at 50% 50%, #F95936 0%, #F93649 100%); }
  .local-experience .green {
    background: radial-gradient(50% 50% at 50% 50%, #87E382 0%, #62B45D 100%), radial-gradient(50% 50% at 50% 50%, #F95936 0%, #F93649 100%); }
  .local-experience .yellow {
    background: radial-gradient(50% 50% at 50% 50%, #F7E015 0%, #FFA200 100%), radial-gradient(50% 50% at 50% 50%, #F95936 0%, #F93649 100%); }

.local-feeling {
  background: #FEBC05; }
  @media screen and (min-width: 320px) {
    .local-feeling {
      padding: 50px 0; } }
  @media screen and (min-width: 1024px) {
    .local-feeling {
      padding: 100px 0 80px 0; } }
  .local-feeling .group-heading {
    margin-bottom: 0; }
  .local-feeling .detail-felling {
    width: 80%; }
    @media screen and (min-width: 320px) {
      .local-feeling .detail-felling {
        margin: 20px auto;
        text-align: center; } }
    @media screen and (min-width: 1024px) {
      .local-feeling .detail-felling {
        margin: 110px 0;
        text-align: left; } }
    .local-feeling .detail-felling .img-app {
      margin-bottom: 10px;
      margin-right: 10px; }
    @media screen and (min-width: 320px) {
      .local-feeling .detail-felling .dowload-app {
        margin: 20px auto;
        text-align: center; } }
    @media screen and (min-width: 1024px) {
      .local-feeling .detail-felling .dowload-app {
        text-align: left;
        display: flex; } }
  .local-feeling .owl-carousel .owl-stage-outer {
    min-height: 230px !important; }
  .local-feeling .owl-theme .owl-dots .owl-dot.active span, .local-feeling .owl-theme .owl-dots .owl-dot:hover span {
    color: #F93649 !important;
    background: #F93649; }
  .local-feeling .list-review {
    margin-top: 60px; }
    .local-feeling .list-review .green {
      background: #62B45D; }
    .local-feeling .list-review .red {
      background: #F93649; }
    .local-feeling .list-review .blue {
      background: #31B9C8; }
    .local-feeling .list-review .item-review {
      width: 96%;
      box-shadow: 5px 4px 0px 4px #EF7D13;
      border-radius: 30px 30px 30px 0px;
      padding: 20px 30px 16px 25px; }
      .local-feeling .list-review .item-review .list-star {
        margin-bottom: 12px; }
        .local-feeling .list-review .item-review .list-star .icon-star {
          width: 14px !important; }
      .local-feeling .list-review .item-review .description {
        margin-bottom: 34px; }
      .local-feeling .list-review .item-review .author_content {
        margin-left: 15px; }
      .local-feeling .list-review .item-review .testi_author {
        width: 100%;
        display: flex;
        align-items: center; }
      .local-feeling .list-review .item-review .testi_author p {
        margin-bottom: 0px; }
      .local-feeling .list-review .item-review .author_img {
        display: table-cell;
        vertical-align: middle; }
      .local-feeling .list-review .item-review .author_name {
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        text-transform: uppercase; }
      .local-feeling .list-review .item-review .author_career {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px; }
  @media screen and (min-width: 320px) {
    .local-feeling .list-review-mobile {
      display: block; } }
  @media screen and (min-width: 1024px) {
    .local-feeling .list-review-mobile {
      display: none; } }
  .local-feeling .list-review-mobile .item-review {
    margin-bottom: 26px; }
  @media screen and (min-width: 320px) {
    .local-feeling .list-review-desktop {
      display: none; } }
  @media screen and (min-width: 1024px) {
    .local-feeling .list-review-desktop {
      display: block; } }

.new-promotion {
  background: #0090FF;
  padding: 64px 0 100px 0; }
  .new-promotion .group-promotion {
    margin-bottom: 25px; }
  .new-promotion .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px !important; }
  .new-promotion button.owl-prev {
    position: absolute;
    left: -10%;
    top: 40%;
    transform: translate(-50%, -50%); }
  .new-promotion button.owl-next {
    position: absolute;
    right: -10%;
    top: 40%;
    transform: translate(-50%, -50%); }
  .new-promotion .owl-dots {
    margin-top: 30px; }
  .new-promotion .owl-theme .owl-dots .owl-dot.active span, .new-promotion .owl-theme .owl-dots .owl-dot:hover span {
    background: #E83E4B; }
  .new-promotion .content-new .tab-content {
    margin-top: 40px;
    overflow: hidden; }
  .new-promotion .content-new .item-promotion {
    border-radius: 15px; }
    .new-promotion .content-new .item-promotion .box-feature-img {
      overflow: hidden;
      height: 210px; }
    .new-promotion .content-new .item-promotion .box-feature-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 20px 20px 0 0; }
    .new-promotion .content-new .item-promotion .box-content {
      background-color: #fff;
      padding: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px; }
    .new-promotion .content-new .item-promotion .box-content .box-content-title {
      font-size: 16px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 45px; }
    .new-promotion .content-new .item-promotion .box-content .box-content-title a {
      color: #1A1A1A;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
      font-weight: 600;
      font-family: GB; }
    .new-promotion .content-new .item-promotion .box-content a {
      color: #31B9C8;
      font-weight: 700;
      line-height: 16px; }
  .new-promotion .content-new .nav-tabs {
    background: #F3F5F8;
    border-radius: 40px;
    border: 0;
    margin: auto; }
    @media screen and (min-width: 320px) {
      .new-promotion .content-new .nav-tabs {
        width: 100%; } }
    @media screen and (min-width: 374px) {
      .new-promotion .content-new .nav-tabs {
        width: 320px; } }
    @media screen and (min-width: 768px) {
      .new-promotion .content-new .nav-tabs {
        width: 320px; } }
    .new-promotion .content-new .nav-tabs a.active {
      background: #F93649;
      border-radius: 40px;
      padding: 10px 32px; }
    .new-promotion .content-new .nav-tabs a {
      border: 0;
      background: #F3F5F8;
      border-radius: 40px;
      padding: 10px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-family: GB;
      font-weight: bold;
      text-transform: uppercase;
      color: #12141D;
      text-decoration: none; }
      @media screen and (min-width: 320px) {
        .new-promotion .content-new .nav-tabs a {
          width: 145px; } }
      @media screen and (min-width: 374px) {
        .new-promotion .content-new .nav-tabs a {
          width: 160px; } }
      @media screen and (min-width: 768px) {
        .new-promotion .content-new .nav-tabs a {
          width: 160px; } }
      @media screen and (min-width: 320px) {
        .new-promotion .content-new .nav-tabs a {
          font-size: 14px;
          line-height: 16px; } }
      @media screen and (min-width: 768px) {
        .new-promotion .content-new .nav-tabs a {
          font-size: 16px;
          line-height: 16px; } }
    .new-promotion .content-new .nav-tabs a.active {
      font-family: GB;
      font-weight: bold;
      text-transform: uppercase;
      color: #FFFFFF; }
      @media screen and (min-width: 320px) {
        .new-promotion .content-new .nav-tabs a.active {
          font-size: 14px;
          line-height: 16px; } }
      @media screen and (min-width: 768px) {
        .new-promotion .content-new .nav-tabs a.active {
          font-size: 16px;
          line-height: 16px; } }

.footer-top {
  background: #293754;
  padding: 48px 0 38px 0; }
  @media screen and (min-width: 320px) {
    .footer-top .box-footer .footer_section_3 li:last-child {
      margin-top: unset; } }
  @media screen and (min-width: 768px) {
    .footer-top .box-footer .footer_section_3 li:last-child {
      margin-top: 25px; } }
  .footer-top .box-footer ul {
    list-style: none;
    padding-left: 0;
    margin-top: 30px; }
    .footer-top .box-footer ul li {
      font-size: 14px;
      line-height: 24px; }
      .footer-top .box-footer ul li b {
        font-weight: bold;
        font-family: GB;
        font-size: 16px; }
      .footer-top .box-footer ul li a {
        font-family: GR;
        color: #FFFFFF; }
      .footer-top .box-footer ul li .social {
        display: flex;
        margin: 25px 0 30px 0; }
        .footer-top .box-footer ul li .social li {
          margin-right: 10px; }
  .footer-top .box-footer .footer-btn-buy-now {
    background: #E62045;
    border: 1px solid #E62045;
    box-sizing: border-box;
    border-radius: 54px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: GB;
    font-size: 16px;
    margin-top: 20px;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .footer-top .box-footer .footer-btn-buy-now {
        width: 120px;
        margin-top: 0; } }
  .footer-top .box-footer .footer-register-email {
    margin-top: 20px;
    display: block; }
  .footer-top .box-footer .form-contact-footer {
    position: relative; }
    .footer-top .box-footer .form-contact-footer .form-search-footer {
      border: 2px solid #E6E8EC;
      box-sizing: border-box;
      border-radius: 40px;
      height: 48px;
      background: transparent;
      font-family: GR;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF; }
    .footer-top .box-footer .form-contact-footer img {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-28%, -50%); }

.footer-bottom {
  background: #F93649;
  padding: 10px 0; }
  .footer-bottom p {
    font-family: GR;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF; }

/*digital service*/
@media screen and (min-width: 320px) {
  .banner-service .owl-nav {
    display: none; } }
@media screen and (min-width: 1024px) {
  .banner-service .owl-nav {
    display: block; } }
.banner-service .item-banner {
  background: #E62045;
  position: relative; }
  @media screen and (min-width: 320px) {
    .banner-service .item-banner {
      height: 636px; } }
  @media screen and (min-width: 1024px) {
    .banner-service .item-banner {
      height: 0;
      padding-top: 42%;
      position: relative; } }
  .banner-service .item-banner .box-banner {
    position: relative; }
    @media screen and (min-width: 320px) {
      .banner-service .item-banner .box-banner .content-banner {
        padding-top: 20px; } }
    @media screen and (min-width: 1024px) {
      .banner-service .item-banner .box-banner .content-banner {
        position: absolute;
        top: 0% !important;
        width: 100%;
        left: 50% !important;
        transform: translate(-50%, 15%) !important;
        z-index: 10; } }
    @media screen and (min-width: 320px) {
      .banner-service .item-banner .box-banner .content-banner .banner-overview {
        text-align: center;
        padding-top: 10px; } }
    @media screen and (min-width: 1024px) {
      .banner-service .item-banner .box-banner .content-banner .banner-overview {
        width: 90%;
        margin-right: auto;
        padding-top: 90px; } }
    .banner-service .item-banner .box-banner .content-banner .banner-overview h1 {
      font-family: GB;
      font-weight: bold;
      text-transform: uppercase;
      color: #FEF8F8; }
      @media screen and (min-width: 320px) {
        .banner-service .item-banner .box-banner .content-banner .banner-overview h1 {
          font-size: 40px;
          line-height: 48px;
          text-align: center;
          letter-spacing: -0.01em; } }
      @media screen and (min-width: 1024px) {
        .banner-service .item-banner .box-banner .content-banner .banner-overview h1 {
          font-size: 64px;
          line-height: 64px;
          text-align: center;
          letter-spacing: -0.02em; } }
    .banner-service .item-banner .box-banner .content-banner .banner-overview .overview {
      font-family: GR;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      width: 70%;
      margin: auto; }
    .banner-service .item-banner .box-banner .content-banner .banner-overview .btn-join {
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 90px;
      font-family: GB;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      padding: 16px 50px;
      margin-top: 16px; }

.text-red {
  color: #F93649; }

.text-blue {
  color: #31B9C8; }

.text-yellow {
  color: #F7A515; }

.more-infor {
  font-family: GB;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #31B9C8; }

.more-infor:hover {
  color: #31B9C8; }

.group-heading-experience {
  margin-bottom: 0; }
  @media screen and (min-width: 320px) {
    .group-heading-experience .title-heading {
      width: 80% !important; } }
  @media screen and (min-width: 1024px) {
    .group-heading-experience .title-heading {
      width: 60% !important; } }

.experience-life h2 {
  width: 80%; }
@media screen and (min-width: 320px) {
  .experience-life .list-experience-life {
    padding-top: 20px; } }
@media screen and (min-width: 1024px) {
  .experience-life .list-experience-life {
    margin-top: 0; } }
.experience-life .list-experience-life .box-experience {
  background: #FFFFFF;
  border-radius: 17px; }
  @media screen and (min-width: 320px) {
    .experience-life .list-experience-life .box-experience {
      margin-bottom: 10px; } }
  @media screen and (min-width: 1024px) {
    .experience-life .list-experience-life .box-experience {
      margin-top: 118px; } }
  .experience-life .list-experience-life .box-experience h4 {
    font-family: GB;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px; }
  .experience-life .list-experience-life .box-experience p {
    font-family: GR;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 100px; }
  .experience-life .list-experience-life .box-experience .image-experience {
    padding: 30px;
    height: 380px; }
  .experience-life .list-experience-life .box-experience .body-experience {
    padding: 0 32px 32px 32px; }
@media screen and (min-width: 320px) {
  .experience-life .list-experience-life .box-active {
    margin-top: 0; } }
@media screen and (min-width: 1024px) {
  .experience-life .list-experience-life .box-active {
    margin-top: 50px !important; } }

@media screen and (min-width: 320px) {
  .list-experience-life-desktop {
    display: none; } }
@media screen and (min-width: 1024px) {
  .list-experience-life-desktop {
    display: block; } }

@media screen and (min-width: 320px) {
  .list-experience-life-mobile {
    display: block; } }
@media screen and (min-width: 1024px) {
  .list-experience-life-mobile {
    display: none; } }
.list-experience-life-mobile .box-experience {
  display: flex; }
  .list-experience-life-mobile .box-experience .image-experience {
    height: unset !important;
    padding: 10px !important; }
    .list-experience-life-mobile .box-experience .image-experience img {
      width: 110px; }
  .list-experience-life-mobile .box-experience .body-experience {
    padding: 18px 10px !important; }
    .list-experience-life-mobile .box-experience .body-experience h4 {
      font-size: 16px;
      line-height: 16px; }
    .list-experience-life-mobile .box-experience .body-experience p {
      font-size: 10px;
      line-height: 13px;
      overflow: unset;
      text-overflow: unset;
      display: block;
      -webkit-line-clamp: unset;
      -webkit-box-orient: unset;
      height: unset; }
    .list-experience-life-mobile .box-experience .body-experience .more-infor {
      font-size: 10px !important;
      line-height: 8px !important; }
      .list-experience-life-mobile .box-experience .body-experience .more-infor img {
        width: 10px !important; }

.service-experience {
  background: #0090FF; }
  @media screen and (min-width: 320px) {
    .service-experience {
      padding: 60px 0; } }
  @media screen and (min-width: 1024px) {
    .service-experience {
      padding: 76px 0 90px 0; } }
  @media screen and (min-width: 320px) {
    .service-experience .other-service {
      margin-top: 60px; } }
  @media screen and (min-width: 1024px) {
    .service-experience .other-service {
      margin-top: 70px; } }
  @media screen and (min-width: 320px) {
    .service-experience .other-service .list-service-other {
      margin-top: 35px; } }
  @media screen and (min-width: 1024px) {
    .service-experience .other-service .list-service-other {
      margin-top: unset; } }
  .service-experience .other-service .list-service-other .card-service .header-service {
    background: #FFFFFF;
    border-radius: 17px;
    padding-top: 100%;
    height: 0;
    position: relative; }
    .service-experience .other-service .list-service-other .card-service .header-service img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: none;
      max-height: none;
      object-fit: cover;
      object-position: 50% 50%;
      position: absolute;
      top: 0;
      left: 0; }
  @media screen and (min-width: 320px) {
    .service-experience .other-service .list-service-other .card-service .body-service {
      padding-top: 14px; } }
  @media screen and (min-width: 1024px) {
    .service-experience .other-service .list-service-other .card-service .body-service {
      padding-top: 33px; } }
  .service-experience .other-service .list-service-other .card-service .body-service h4 {
    font-family: GB;
    font-weight: bold;
    color: #FFFFFF; }
    @media screen and (min-width: 320px) {
      .service-experience .other-service .list-service-other .card-service .body-service h4 {
        font-size: 14px;
        line-height: 24px; } }
    @media screen and (min-width: 1024px) {
      .service-experience .other-service .list-service-other .card-service .body-service h4 {
        font-size: 24px;
        line-height: 32px;
        text-align: center; } }
  .service-experience .other-service .list-service-other .card-service .body-service .description {
    font-family: GR;
    color: #FFFFFF; }
    @media screen and (min-width: 320px) {
      .service-experience .other-service .list-service-other .card-service .body-service .description {
        font-size: 12px;
        line-height: 20px; } }
    @media screen and (min-width: 1024px) {
      .service-experience .other-service .list-service-other .card-service .body-service .description {
        font-size: 12px;
        line-height: 20px; } }
  .service-experience .other-service .list-service-other .owl-nav {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 100%; }
    .service-experience .other-service .list-service-other .owl-nav button.owl-prev {
      position: absolute;
      left: -10%;
      top: -70px;
      transform: translate(-50%, -50%);
      z-index: 100; }
    .service-experience .other-service .list-service-other .owl-nav button.owl-prev:focus, .service-experience .other-service .list-service-other .owl-nav button.owl-next:focus {
      outline: none; }
    .service-experience .other-service .list-service-other .owl-nav button.owl-prev:hover, .service-experience .other-service .list-service-other .owl-nav button.owl-next:hover {
      background: transparent; }
    .service-experience .other-service .list-service-other .owl-nav button.owl-next {
      position: absolute;
      right: -10%;
      top: -70px;
      transform: translate(-50%, -50%);
      z-index: 100; }

.cart-local {
  padding: 60px 0;
  background: #F7F7F7; }
  .cart-local h2 {
    font-family: GB;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #E62045;
    margin-bottom: 10px; }
  .cart-local .local-form {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 20px 40px 35px 28px;
    margin-bottom: 20px; }
    .cart-local .local-form .info-customer .btn-submit-payment {
      background: #E62045;
      border: 0.863544px solid #E62045;
      box-sizing: border-box;
      border-radius: 46.6314px;
      font-family: GB;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      padding: 14px 40px; }
    .cart-local .local-form .info-customer h4 {
      font-family: GB;
      font-weight: bold;
      font-size: 23px;
      line-height: 40px;
      letter-spacing: -0.01em;
      color: #E62045; }
    .cart-local .local-form .info-customer .styled-checkbox {
      position: absolute;
      opacity: 0; }
      .cart-local .local-form .info-customer .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0; }
      .cart-local .local-form .info-customer .styled-checkbox + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: #F7F7F7;
        border-radius: 1.72709px; }
      .cart-local .local-form .info-customer .styled-checkbox:hover + label:before {
        background: #FF2F48; }
      .cart-local .local-form .info-customer .styled-checkbox:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
      .cart-local .local-form .info-customer .styled-checkbox:checked + label:before {
        background: #FF2F48; }
      .cart-local .local-form .info-customer .styled-checkbox:disabled + label {
        color: #b8b8b8;
        cursor: auto; }
      .cart-local .local-form .info-customer .styled-checkbox:disabled + label:before {
        box-shadow: none;
        background: #ddd; }
      .cart-local .local-form .info-customer .styled-checkbox:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg); }
    .cart-local .local-form .info-customer .form-group label {
      font-family: GB;
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      color: #676879; }
    .cart-local .local-form .info-customer .form-group .form-input {
      font-family: GR;
      font-size: 12px;
      line-height: 20px;
      color: #B1B5C3;
      background: #F7F7F7;
      border-radius: 3.45418px;
      height: 42px;
      border: none; }
    .cart-local .local-form .info-customer .form-group .select-input {
      background: #F7F7F7;
      border-radius: 3.45418px;
      border: none;
      height: 42px;
      font-family: GR;
      font-size: 12px;
      line-height: 20px;
      color: #B1B5C3; }
    .cart-local .local-form .info-customer .form-group .text-area {
      background: #F7F7F7;
      border-radius: 3.45418px;
      height: 160px;
      font-family: GR;
      font-size: 12px;
      line-height: 20px;
      color: #B1B5C3;
      border: none; }
    .cart-local .local-form .info-customer .form-group .label-checkbox {
      text-transform: unset;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center; }
  .cart-local .order-local {
    background: #E62045;
    border-radius: 15px;
    padding: 26px 22px 30px 30px; }
    .cart-local .order-local h4 {
      font-family: GB;
      font-weight: bold;
      font-size: 23px;
      line-height: 30px;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      margin-bottom: 26px; }
    .cart-local .order-local .itemm-order {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cart-local .order-local .itemm-order p {
        font-family: GR;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 8px; }
    .cart-local .order-local .item-total {
      background: #FFBE02;
      border-radius: 3.45418px;
      padding: 12px;
      margin-top: 22px; }
      .cart-local .order-local .item-total .text-total {
        text-transform: uppercase; }
      .cart-local .order-local .item-total p {
        margin-bottom: 0;
        font-weight: bold; }
  .cart-local .note {
    font-family: GR;
    font-size: 12px;
    line-height: 20px;
    color: #676879;
    padding: 20px 15px; }
  .cart-local .icon-image-cart {
    margin-top: 80px; }

.btn-back-to-top {
  color: #B1B5C3;
  font-family: GB;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  position: fixed;
  height: 22px;
  display: none;
  padding-left: 30px;
  transform: rotate(-90deg);
  bottom: 10%;
  right: 03%; }
  @media screen and (min-width: 1024px) {
    .btn-back-to-top {
      display: block; } }
  .btn-back-to-top:hover {
    text-decoration: none; }
  .btn-back-to-top.hidden {
    display: none; }
  .btn-back-to-top:before {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    background: url("/assets/images/back-to-top.svg") center center no-repeat;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    transform: rotate(90deg); }

.component {
  margin: 80px 0; }
  .component h4 {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: CSM;
    color: #303030; }
  .component .box-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px; }
    .component .box-button .btn-custom {
      padding: 11px 26px;
      border-radius: 5.33336px;
      border: 1px solid #E6E8EC; }
    .component .box-button .btn-danger-custom {
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
      color: #FFFFFF;
      background: #E62045; }
    .component .box-button .btn_white {
      font-family: GB;
      background: #FFFFFF;
      border: 1px solid #E6E8EC;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
      color: #353945; }
    .component .box-button .text-right {
      margin-left: 9px; }
    .component .box-button .text-left {
      margin-right: 9px; }
    .component .box-button .btn-circle-danger {
      background: #E62045;
      border-radius: 32.0002px;
      padding: 16px 17px; }
    .component .box-button .btn-circle-white {
      background: #FFFFFF;
      border: 1.33334px solid #E6E8EC;
      box-sizing: border-box;
      border-radius: 32.0002px;
      padding: 16px 17px; }
    .component .box-button .border-danger-custom {
      border: 1.33334px solid #E62045;
      color: #E62045; }
  .component .box-radio input[type=radio] {
    position: absolute;
    visibility: hidden; }
  .component .box-radio label {
    display: block;
    position: relative;
    padding: 0 28px 0;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    color: #323338;
    font-family: GR;
    font-size: 16px;
    line-height: 29px;
    -webkit-transition: all 0.25s linear; }
  .component .box-radio:hover label {
    color: #323338; }
  .component .box-radio .check {
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    top: 2px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear; }
  .component .box-radio {
    position: relative; }
  .component .box-radio:hover .check {
    border: 5px solid #FFFFFF; }
  .component .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear; }
  .component input[type=radio]:checked ~ .check {
    border: 5px solid #E62045; }
  .component input[type=radio]:checked ~ .check::before {
    background: #FFFFFF; }
  .component input[type=radio]:checked ~ label {
    color: #323338;
    font-family: GR;
    font-size: 16px;
    line-height: 29px; }
  .component .box-radio-regular {
    position: relative; }
    .component .box-radio-regular input[type=radio] {
      position: absolute;
      visibility: hidden; }
    .component .box-radio-regular label {
      display: block;
      position: relative;
      padding: 0 28px 0;
      margin: 10px auto;
      height: 30px;
      z-index: 9;
      cursor: pointer;
      color: #323338;
      font-family: GR;
      font-size: 16px;
      line-height: 29px; }
    .component .box-radio-regular .check-regular {
      display: block;
      position: absolute;
      border: 1.33334px solid #C5C7D0;
      border-radius: 100%;
      height: 22px;
      width: 22px;
      top: 2px;
      left: 0;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear; }
    .component .box-radio-regular .check-regular::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 8px;
      width: 8px;
      top: 3px;
      left: 3px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear; }
    .component .box-radio-regular input[type=radio]:checked ~ .check-regular {
      border: 5px solid #E62045; }
    .component .box-radio-regular input[type=radio]:checked ~ .check-regular::before {
      background: #FFFFFF; }
    .component .box-radio-regular input[type=radio]:checked ~ label {
      color: #323338;
      font-family: GR;
      font-size: 16px;
      line-height: 29px; }
  .component .box-radio-regular.hover:hover .check-regular {
    border: 1.33334px solid #323338; }
  .component .box-radio-regular.disabled .check-regular {
    background: #E6E9EF;
    border: 1.33334px solid #E6E9EF; }
  .component .box-radio-regular.disabled.selected .check-regular::before {
    background: #676879;
    top: 5px;
    left: 6px; }
  .component .styled-checkbox {
    position: absolute;
    opacity: 0; }
    .component .styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0; }
    .component .styled-checkbox + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1.33334px solid #C5C7D0;
      border-radius: 2.66668px; }
    .component .styled-checkbox:hover + label:before {
      border: 1.33334px solid #323338; }
    .component .styled-checkbox:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
    .component .styled-checkbox:checked + label:before {
      background: #E62045;
      border: 1.33334px solid #E62045; }
    .component .styled-checkbox:disabled + label {
      color: #676879;
      cursor: auto; }
    .component .styled-checkbox:disabled + label:before {
      border: 1.33334px solid #E6E9EF;
      background: #E6E9EF; }
    .component .styled-checkbox:disabled .component .styled-checkbox:checked + label {
      color: #676879;
      cursor: auto; }
    .component .styled-checkbox:disabled .component .styled-checkbox:checked + label:before {
      border: 1.33334px solid #E6E9EF;
      background: #E6E9EF; }
    .component .styled-checkbox:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 12px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      transform: rotate(45deg); }
  .component .unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .component .bg-breadcrumb {
    padding: 0 5px 0px 5px;
    background: #E6E9EF; }
  .component .breadcrumb-right-arrow .breadcrumb-item + .breadcrumb-item::before {
    content: url("../images/NavigationChevron_right.svg");
    vertical-align: top;
    font-size: 26px;
    line-height: 30px; }
  .component .breadcrumb-item img {
    margin-bottom: 5px; }
  .component .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 4px; }
  .component .breadcrumb-item + .breadcrumb-item {
    padding-left: 4px; }
  .component ol li {
    font-size: 18px;
    line-height: 29px; }
  .component ol li a {
    font-family: GR;
    font-size: 18px;
    line-height: 29px;
    color: #777E90;
    text-decoration: none; }
  .component .bg-breadcrumb-none {
    background: unset;
    padding: 0 0 0px 5px; }
  .component .default {
    border: 1px solid #C5C7D0;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: GR;
    font-size: 16px;
    line-height: 24px;
    color: #676879;
    margin-top: 10px; }
  .component .focus-black {
    border: 1px solid #323338; }
  .component .focus-blue {
    border: 1px solid #0085FF;
    color: #323338; }
  .component .default:disabled {
    border: 1px solid #E6E9EF;
    background: #E6E9EF; }
  .component .focus-error {
    border: 1px solid #E44258;
    color: #323338; }
  .component .focus-success {
    border: 1px solid #00CA72;
    color: #323338; }
  .component .group-input {
    position: relative; }
  .component .icon_close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -55%); }
  .component .text-error {
    font-size: 14px;
    line-height: 22px; }
  .component .nav-tabs {
    width: 82%;
    border-bottom: 2px solid #E6E9EF; }
  .component .nav-tabs .nav-link {
    font-family: GR;
    font-size: 20px;
    line-height: 32px;
    color: #353945;
    padding: 8px 20px; }
  .component .nav-tabs .nav-item.show .nav-link, .component .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #E62045;
    font-weight: 600; }
  .component .nav-tabs .nav-link:hover {
    background: #E6E9EF;
    border-radius: 5.33336px; }
  .component .progressbar {
    counter-reset: step; }
  .component .progressbar li {
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
    width: calc(100% / 3);
    font-size: 14px;
    line-height: 22px;
    display: flex; }
  .component .progressbar li:before {
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: 50%;
    color: #bebebe;
    content: counter(step);
    counter-increment: step;
    display: block;
    height: 24px;
    line-height: 22px;
    text-align: center;
    width: 24px;
    font-family: SFPDR; }
  .component .progressbar li:after {
    background: #E8E8E8;
    content: '';
    height: 1px;
    left: -50%;
    position: absolute;
    top: 12px;
    width: 46%;
    z-index: -1; }
  .component .progressbar li.active:after {
    content: '';
    height: 1px;
    left: -60%;
    position: absolute;
    top: 12px;
    width: 55%;
    z-index: -1; }
  .component .progressbar li:first-child:after {
    content: none; }
  .component .progressbar li.active:after,
  .component .progressbar li.complete:after {
    background: #ED2146; }
  .component .progressbar li.active:before {
    background: #ED2146;
    border-color: #ED2146;
    color: #fff; }
  .component .progressbar li.complete:before {
    border: none;
    content: url("../images/small.svg"); }
  .component .progressbar li span {
    padding-left: 8px; }
  .component .progressbar li.active span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    font-family: GB; }
  .component .progressbar li.complete {
    color: #333; }
  .component .progressbar_1 {
    margin-top: 25px; }
  .component .progressbar_2 .progressbar li {
    display: unset;
    font-size: 14px;
    line-height: 20px;
    color: #595959; }
  .component .progressbar_2 .progressbar li:before {
    margin: 8px auto;
    content: '';
    border-radius: 50%;
    background: #BFBFBF; }
  .component .progressbar_2 .progressbar li.complete:before {
    width: 6px;
    height: 6px; }
  .component .progressbar_2 .progressbar li.active:before {
    width: 10px;
    height: 10px;
    background: #ED2146; }
  .component .progressbar_2 .progressbar li:before {
    width: 10px;
    height: 10px; }
  .component .progressbar_2 .progressbar li.active:after {
    left: -45%;
    width: 90%; }
  .component .progressbar_2 .progressbar li:after {
    left: -45%;
    width: 90%; }
  .component .progressbar_3 .progressbar li.complete:before {
    content: url("../images/user.svg"); }
  .component .progressbar_3 .progressbar li.active:before {
    background: none;
    content: url("../images/user.svg"); }
  .component .progressbar_3 .progressbar li:before {
    border: none;
    content: url("../images/user_inactive.svg"); }
  .component .progressbar_3 .progressbar li:after {
    width: 44%;
    left: -46%; }
  .component .StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none; }
  .component .StepProgress-item {
    position: relative;
    counter-increment: list; }
  .component .StepProgress-item:not(:last-child) {
    padding-bottom: 10px; }
  .component .StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -28px;
    top: 30px;
    height: 45%;
    width: 10px; }
  .component .StepProgress-item.is-done::before {
    border-left: 1px solid #ED2146;
    top: 32px; }
  .component .StepProgress-item.is-done::after {
    content: url("../images/medium.svg");
    width: unset;
    height: unset;
    color: #FFF;
    text-align: center;
    border: none;
    left: -43px; }
  .component .StepProgress-item.current::before {
    border-left: 1px solid #E8E8E8;
    top: 34px;
    height: 40%; }
  .component .StepProgress-item.current::after {
    content: counter(list);
    padding-top: 1px;
    width: 32px;
    height: 32px;
    top: -4px;
    left: -44px;
    text-align: center;
    background: #ED2146;
    border: 1px solid #ED2146;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    line-height: 28px;
    font-family: SFPDR; }
  .component .StepProgress-item::after {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    content: counter(list);
    width: 32px;
    height: 32px;
    top: -4px;
    left: -42px;
    text-align: center;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 32px;
    color: #BFBFBF;
    font-family: SFPDF; }
  .component .StepProgress strong {
    display: block; }
  .component .StepProgress-item.current span {
    font-weight: bold;
    font-family: GB; }
  .component .StepProgress-item span p {
    font-size: 14px;
    line-height: 20px;
    color: #8C8C8C; }
  .component .StepProgress_2 .StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none; }
  .component .StepProgress_2 .StepProgress-item {
    position: relative;
    counter-increment: list; }
  .component .StepProgress_2 .StepProgress-item:not(:last-child) {
    padding-bottom: 10px; }
  .component .StepProgress_2 .StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    top: 30px;
    height: 52%;
    width: 10px; }
  .component .StepProgress_2 .StepProgress-item.is-done::before {
    border-left: 1px solid #ED2146;
    top: 26px; }
  .component .StepProgress_2 .StepProgress-item.is-done::after {
    content: url("../images/small.svg");
    width: unset;
    height: unset;
    color: #FFF;
    text-align: center;
    border: none;
    left: -43px; }
  .component .StepProgress_2 .StepProgress-item.current::before {
    border-left: 1px solid #E8E8E8;
    top: 28px;
    height: 48%; }
  .component .StepProgress_2 .StepProgress-item.current::after {
    content: counter(list);
    padding-top: 1px;
    width: 24px;
    height: 24px;
    top: -4px;
    left: -44px;
    text-align: center;
    background: #ED2146;
    border: 1px solid #ED2146;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    line-height: 20px; }
  .component .StepProgress_2 .StepProgress-item::after {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    content: counter(list);
    width: 24px;
    height: 24px;
    top: -4px;
    left: -42px;
    text-align: center;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    color: #BFBFBF; }
  .component .StepProgress_2 .StepProgress strong {
    display: block; }
  .component .StepProgress_2 .StepProgress-item.current span {
    font-weight: bold; }
  .component .StepProgress_2 .StepProgress-item span p {
    font-size: 14px;
    line-height: 20px;
    color: #8C8C8C; }
  .component .pagination .page-item .page-link {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #595959; }
  .component .pagination .page-item {
    margin: 4px; }
  .component .pagination .page-item .active {
    border: 1px solid #FF2F48;
    color: #FF2F48; }
  .component .pagination .page-item .page-link.doted {
    border: none; }
  .component .tooltip-gp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    margin-top: 25px; }
  .component .group-tooltip {
    position: relative; }
  .component .group-tooltip span {
    background: #323338;
    padding: 8px 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.200691);
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px; }
  .component .group-tooltip span:before {
    border: solid;
    border-color: #444 transparent;
    border-width: 8px 10px 0 10px;
    content: "";
    left: 30%;
    bottom: -14px;
    position: absolute; }
  .component .group-tooltip span.top:before {
    border: solid;
    border-color: #444 transparent;
    border-width: 0px 8px 10px 10px;
    content: "";
    left: 30%;
    bottom: 28px;
    position: absolute; }
  .component .group-tooltip span.left:before {
    border: solid;
    border-color: #444 transparent;
    border-width: 0px 12px 12px 0px;
    content: "";
    left: -6px;
    bottom: 28%;
    position: absolute;
    transform: rotate(45deg); }
  .component .group-tooltip span.right:before {
    border: solid;
    border-color: #444 transparent;
    border-width: 12px 12px 0px 0px;
    content: "";
    left: 53px;
    bottom: 28%;
    position: absolute;
    transform: rotate(135deg); }

/*# sourceMappingURL=style.css.map */
