@font-face {
  font-family: GB;
  src: url('../fonts/Gilroy-Bold.otf') format("truetype");
}

@font-face {
  font-family: GR;
  src: url("../fonts/Gilroy-Regular.otf") format("truetype");
}

@font-face {
  font-family: SFPDB;
  src: url('../fonts/SF-Pro-Display-Bold.otf') format("truetype");
}

@font-face {
  font-family: SFPDR;
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("truetype");
}
@font-face {
  font-family: CSM;
  src: url("../fonts/circular-std-medium-500.ttf") format("truetype");
}

body {
  font-family: GR;

}

$break-small: 320px;
$break-phone: 374px;
$break-mobile: 400px;
$break-tablet: 768px;
$break-medium: 980px;
$break-tablet-pro: 1024px;
$break-large: 1200px;
$break-big: 1366px;
$break-lagest: 1600px;

@import "modules/override";
@import "modules/aboutus";
@import "modules/news";
@import "modules/contact";
@import "modules/product";
@import "modules/exp";
@import "modules/tutorial";
@import "modules/faq";
@import "modules/our-service";
@import "modules/corb";

.container-custom {
  margin: auto;
  @media screen and (min-width: $break-small) {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: $break-large) {
    max-width: 80%;
  }
  @media screen and (min-width: $break-lagest) {
    max-width: 1400px;
  }
}

main {
  padding-top: 66px;
  display: block;
}

.header {
  background: #E62045;
  position: fixed;
  width: 100%;
  z-index: 9999;

  .bg-local-mobile {
    background: #000000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
  }

  .main-menu {
    display: flex;
    align-items: center;
    height: 100%;
    // padding: 25px 0;
    justify-content: space-between;
    @media screen and (min-width: $break-small) {
      padding: 25px 0;
    }
    @media screen and (min-width: $break-large) {
      padding: 0;
    }

    .logo {
      img {

        @media screen and (min-width: $break-small) {
          width: 50px;
        }
        @media screen and (min-width: $break-large) {
          width: 86px;
        }
      }
    }

    .nav-menu {
      padding-left: 0;
      list-style: none;
      align-items: center;
      margin-bottom: 0;
      @media screen and (min-width: $break-small) {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 80%;
        background: #E62045;
        display: block;
        padding: 30px 0;
        z-index: 10;
      }
      @media screen and (min-width: $break-tablet) {
        width: 50%;
      }
      @media screen and (min-width: $break-large) {
        display: flex;
        position: unset;
        padding: 0;
        width: 100%;
      }

      li {

        position: relative;
        @media screen and (min-width: $break-small) {
          padding: 10px 15px;
        }
        @media screen and (min-width: $break-large) {
          padding: 25px 16px;
        }

        a {
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          text-decoration: none;
          font-family: GR;
          display: flex;
          justify-content: space-between;

          .dropdown_toggle {
            border: none;
            background: transparent;
          }

          .dropdown_toggle:focus {
            outline: none;
          }
        }

        .submenu {
          display: none;
          list-style: none;
          padding-left: 0;
          z-index: 10;
          min-width: 220px;
          background: #E62045;
          @media screen and (min-width: $break-small) {
            padding: 0 15px;
          }
          @media screen and (min-width: $break-large) {
            position: absolute;
            top: 68px;
            left: 0;
            padding: 0;
          }

          li {

            @media screen and (min-width: $break-small) {
              padding: 10px 0;
            }
            @media screen and (min-width: $break-large) {
              padding: 10px 15px;
            }
          }
        }

        .show {
          display: block;

          @media screen and (min-width: $break-small) {
            padding-top: 10px;
            width: 100%;
          }
          @media screen and (min-width: $break-large) {
            padding-top: 0;
            width: unset;
          }
          // padding-top: 10px;
        }

        .submenu li:hover {
          background: #ef7d13;
        }
      }


      @media screen and (min-width: $break-small) {
        // padding: 10px 0;
      }
      @media screen and (min-width: $break-large) {
        li:hover .submenu {
          display: block;
        }
      }
    }

    .nav-menu-right {
      @media screen and (min-width: $break-small) {
        display: block;
        margin-left: 0;
        text-align: left;
        list-style: none;
        padding-left: 0;
      }
      @media screen and (min-width: $break-large) {

        text-align: center;
        margin-bottom: 0;
        margin-left: 50px;
        display: flex;
        text-align: unset;
      }

      li {
        margin: auto;
        @media screen and (min-width: $break-small) {
          padding: 10px 15px;
        }
        @media screen and (min-width: $break-large) {
          padding: 0 16px;
        }

        a {
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          text-decoration: none;
          font-family: GR;

        }

        .select-currency {
          border: none;
          background: transparent;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          font-family: GB;
        }
      }
    }

  }

  .menu-mobile {
    @media screen and (min-width: $break-small) {
      display: block;
      margin-left: auto;
    }
    @media screen and (min-width: $break-large) {
      display: none;
    }
  }

  .close-menu {
    position: absolute;
    top: 12px;
    right: 25px;
    z-index: 4;
    @media screen and (min-width: $break-small) {
      display: block;
    }
    @media screen and (min-width: $break-large) {
      display: none;
    }
  }

  .logo-menu {
    padding: 0 15px 25px 15px;
    @media screen and (min-width: $break-small) {
      display: block;
    }
    @media screen and (min-width: $break-large) {
      display: none;
    }
  }
}

.banner {
  .item-banner {

    background: #FFBE02;
    position: relative;
    @media screen and (min-width: $break-small) {
      height: 0;
      padding-top: 180%;
      position: relative;
    }
    @media screen and (min-width: $break-tablet-pro) {
      height: 0;
      padding-top: 42%;
      position: relative;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      object-fit: cover;
      object-position: center;
      left: 0;
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 100%;

    button.owl-prev {
      position: absolute;
      left: 5%;
      transform: translate(-50%, -50%);
    }

    button.owl-prev:focus, button.owl-next:focus {
      outline: none;
    }

    button.owl-prev:hover, button.owl-next:hover {
      background: transparent;
    }

    button.owl-next {
      position: absolute;
      right: 5%;
      transform: translate(-50%, -50%);
    }

  }

  .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -30%);
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #E83E4B;
  }

  .owl-theme .owl-dots .owl-dot span {
    background: white;
  }
}

.banner_desktop {
  @media screen and (min-width: $break-small) {
    display: none;
  }
  @media screen and (min-width: $break-tablet-pro) {
    display: block;
  }
}

.banner_mobile {
  @media screen and (min-width: $break-small) {
    display: block;
  }
  @media screen and (min-width: $break-tablet-pro) {
    display: none;
  }
}

.local {
  background: #E62045;

  @media screen and (min-width: $break-small) {
    height: auto;
    padding-top: 42px;
  }
  @media screen and (min-width: $break-large) {
    height: 536px;
    padding-top: 68px;
  }

  .box-video {

    @media screen and (min-width: $break-small) {
      padding-top: 0px;
    }
    @media screen and (min-width: $break-large) {
      padding-top: 0px;
    }

    .image-video {
      position: relative;

      .circle-button {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.local-packages {
  background: #293754;

  @media screen and (min-width: $break-small) {
    padding-top: 50px;
  }
  @media screen and (min-width: $break-large) {
    padding-top: 320px;
  }
}

.group-heading {
  .heading-title {
    font-family: GB;
    font-weight: bold;
    font-size: 45px;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFFFF;
  }

  .title-step {
    color: #E62045 !important;

    @media screen and (min-width: $break-small) {
      width: 68%;
    }
    @media screen and (min-width: $break-large) {
      width: 58% !important;
    }
  }

  .overview {
    font-family: GR;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-align: center;
  }
}

.local-packages {

  @media screen and (min-width: $break-small) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: $break-large) {
    padding-bottom: 70px;
  }

  .list-package {
    @media screen and (min-width: $break-small) {
      margin-top: 20px;
    }
    @media screen and (min-width: $break-large) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      margin-top: 60px;
    }

    .red {
      background: radial-gradient(50% 50% at 50% 50%, #F95936 0%, #F93649 100%);
    }

    .yellow {
      background: radial-gradient(50% 50% at 50% 50%, #F7B815 0%, #FFA200 100%), radial-gradient(50% 50% at 50% 50%, #87E382 0%, #62B45D 100%);
    }

    .blue {
      background: radial-gradient(50% 50% at 50% 50%, #67EDF5 0%, #31B9C8 100%);
    }

    .box-package {
      border-radius: 20px;

      position: relative;
      margin-bottom: 25px;
      @media screen and (min-width: $break-small) {
        padding: 36px 18px 36px;
      }
      @media screen and (min-width: $break-large) {
        padding: 22px 30px 40px;
      }

      .pack-of-data-text {
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 0;
        font-family: GB;
      }

      .number-package {
        font-weight: bold;
        font-family: GB;
        color: #FFFFFF;
        @media screen and (min-width: $break-small) {
          font-size: 32px;
          line-height: 40px;
        }
        @media screen and (min-width: $break-large) {
          font-size: 40px;
          line-height: 50px;
        }
      }

      h4 {
        font-weight: bold;
        font-family: GB;
        color: #FFFFFF;
        @media screen and (min-width: $break-small) {
          font-size: 55px;
          line-height: 56px;
        }
        @media screen and (min-width: $break-large) {
          font-size: 60px;
          line-height: 66px;
        }

        span {
          font-weight: bold;
          font-size: 18px;
          line-height: 26px;
          color: #FFFFFF;
          font-family: GB;
        }
      }

      .description {
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        font-family: GR;
      }

      .btn-register {
        background: transparent;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 70px;
        font-weight: bold;
        font-family: GB;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 14px;
        @media screen and (min-width: $break-small) {
          font-size: 14px;
          padding: 12px 26px;
          margin-top: 20px;
        }
        @media screen and (min-width: $break-phone) {
          font-size: 14px;
          padding: 12px 32px;
          margin-top: 20px;
        }
        @media screen and (min-width: $break-large) {
          margin-top: 50px;
          font-size: 16px;
          padding: 12px 32px;
        }
      }

      .data_date {
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-bottom: 0;
        font-family: GR;
      }

      .icon-package {
        position: absolute;
        bottom: 0;
        @media screen and (min-width: $break-small) {
          right: 14px;
          width: 116px;
        }
        @media screen and (min-width: $break-phone) {
          width: unset;
        }
        @media screen and (min-width: $break-large) {
          right: 30px;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .more-infomation {
    margin: auto;
    text-align: center;
    margin-top: 50px;

    .btn-more {
      width: 214px;
      background: #E62045;
      border-radius: 70px;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;

      color: #FFFFFF;
      padding: 16px;
    }
  }
}

.local-question {

  @media screen and (min-width: $break-small) {
    padding: 44px 0px 100px 0;
  }
  @media screen and (min-width: $break-tablet-pro) {
    padding: 100px 0px;
  }

  .section-heading {
    margin-bottom: 48px;

    h2 {
      font-family: GB;
      font-weight: bold;
      text-transform: uppercase;
      color: #FFBE02;
      text-align: center;
      @media screen and (min-width: $break-small) {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.01em;
        width: 60%;
      }
      @media screen and (min-width: $break-tablet-pro) {
        font-size: 48px;
        line-height: 56px;
        width: 66%;
        letter-spacing: -0.02em;
      }
    }
  }

  #accordion {
    background: #ffbe02;
    padding: 48px 40px 50px 48px;
    border-radius: 20px;
    box-shadow: 5px 3px 0px 3px #EF7D13;
    margin-bottom: 30px;
    border: 1.5px solid #B1B5C3;
  }

  .card {
    background-color: transparent;
    border: 0px solid;

  }

  .accordion > .card:first-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
  }

  .accordion > .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
  }

  .card-header {
    border-bottom: 0px solid;
    background-color: transparent;
    padding: 15px 0px;
  }

  .card-header a {
    width: 100%;
    display: inline-block;
    color: #353945;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    padding-right: 20px;
  }

  .card-header a:after {
    content: url("../images/icon-tab-close.png");
    position: absolute;
    right: 0px;
    top: 5%;
  }

  .card-header a[aria-expanded="true"]:after {
    content: url("../images/icon-tab-open.png");
  }

  .card-header a[aria-expanded="true"] {
    color: #E62045;
  }

  .card-body, .card-body p {
    font-size: 16px;
    color: #353945;
  }

  .section-8 img {
    max-width: 100%;
    max-height: 100%;
  }

  .style-link-1 {
    color: #31B9C8;
    font-weight: bold;
    text-decoration: none;
  }

  .style-link-1:hover {
    color: #31B9C8;
    text-decoration: none;
  }

  @media (max-width: 767px) {
    .image-question {
      margin-top: 48px;
    }
    .local-question {
      padding: 44px 0px 100px;
    }
    .local-question .col-lg-7 {
      padding-top: 0px !important;
    }
    .local-question .col-lg-5 {
      padding-top: 43px !important;
    }
    #accordion {
      padding: 31px 29px 24px 21px;
      width: 98%;
    }
    .card-header a {
      font-size: 16px;
      line-height: 20px;
    }
  }
}


.local-step {
  padding: 100px 0px;

  h2 {
    font-family: GB;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #E62045;
    text-transform: uppercase;
  }

  .section-heading {
    margin: 0px auto 60px auto;
  }

  .box-col-4 .feature-img {
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;


  }

  .box-col-4 .feature-img img {
    max-width: 100%;

    @media screen and (min-width: $break-small) {
      width: 100%;
      height: 220px;
    }
    @media screen and (min-width: $break-tablet-pro) {
      height: 179px;
    }
  }

  .col4-content {
    text-align: center;
  }

  .col4-content p.content_step {
    font-family: GB;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .col4-content h3 {
    font-family: GB;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
  }

  .col4-content p {
    color: #141416;
  }

  .section-button {
    text-align: center;
    margin-top: 76px;
  }

  .section-button a {
    width: 214px;
    padding: 16px;
    line-height: 22px;
    font-weight: bold;
    font-size: 16px;
    background: #E62045;
    border-radius: 90px;
    color: #FFFFFF;

  }
}

.section-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.section-button a {
  width: 214px;
  padding: 16px;
  line-height: 22px;
  font-weight: bold;
  font-size: 16px;
  background: #E62045;
  border-radius: 90px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .local-step {
    padding: 60px 0px 51px;
  }
  .local-step .section-heading {
    margin: 0px auto 32px auto;
  }
  .local-step .col-lg-3 {
    margin-bottom: 45px;
  }
  .local-step .section-button {
    margin-top: 0px;
  }
  .box-col-4 .feature-img {
    padding: 0px;
    margin-bottom: 24px;
  }
  .box-col-4 .feature-img img {
    height: 100%;
  }
  .col4-content p.content_step {
    margin-bottom: 15px;
  }
  .col4-content {
    padding: 0px 30px;
  }
}

.section-6 h2 {
  color: #fff;
}

.box-feature-2-img {
  text-align: center;
}

.box-feature-2-img img {
  max-width: 100%;
  max-height: 100%;
}

.box-2-content {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.box-2-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}

.box-2-content p {
  color: #fff;
}

@media (max-width: 767px) {
  .section-6 {
    padding: 52px 0px 80px !important;
  }
  .section-6 .section-heading {
    margin: 0px auto 20px auto;
  }
  .box-2-content {
    padding: 17px 20px 50px;
  }
  .box-2-content h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 29px;
  }
  .box-2-content p {
    font-size: 14px;
    line-height: 20px;
  }

}

.group-heading {

  @media screen and (min-width: $break-small) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $break-tablet-pro) {
    margin-bottom: 76px;
  }

  .title-heading {
    font-family: GB;
    font-weight: bold;

    text-align: center;

    color: #FEF8F8;
    text-transform: uppercase;
    margin: auto;
    @media screen and (min-width: $break-small) {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.01em;
    }
    @media screen and (min-width: $break-tablet-pro) {
      font-size: 48px;
      line-height: 56px;
      width: 58%;
      letter-spacing: -0.02em;
    }
  }

  .title-service {

    @media screen and (min-width: $break-small) {
      width: 76%;
    }
    @media screen and (min-width: $break-tablet-pro) {
      width: 30%;
    }
  }

  .title-feelling {
    color: #000000;
  }

  .overview {
    font-family: GR;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 10px;
  }
}

@media screen and (min-width: $break-small) {
  .experience-mobile {
    display: block;
    padding: 40px 0 85px 0;

    .group-heading {
      margin-bottom: 25px;

      .title-heading {
        width: 100%;
        font-family: GB;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #FEF8F8;
      }
    }

    .box-experience {
      display: block !important;

      .experience-left {
        width: 100% !important;
        height: 170px;
        padding: 36px 16px !important;
        border-radius: 20px 20px 0 0 !important;

        img {
          width: 80px;
          height: 100px;
          margin: auto;
        }
      }

      .experience-right {
        width: 100% !important;
        border-radius: 0px 0px 20px 20px !important;
        padding: 20px 15px !important;

        .more-infor {
          position: unset !important;
        }

        h4 {
          font-weight: bold;
          font-size: 16px !important;
          line-height: 16px !important;
        }

        .desciption {
          font-size: 10px !important;
          line-height: 13px !important;
          height: 64px !important;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }

        .more-infor {
          font-size: 10px !important;
          line-height: 8px !important;
          display: flex !important;

          img {
            width: 10px !important;
            margin-left: 5px !important;
          }
        }
      }
    }
  }
  .experience-desktop {
    display: none;
  }
}

.tab-pane.active {
  //animation: slide-down 2s ease-out;
}


.owl-carousel .owl-item, .owl-stage, .owl-stage-outer, .owl-carousel, .item-promotion, .box-feature-img {
  transform: none !important;
  overflow: hidden;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: $break-tablet-pro) {
  .experience-mobile {
    display: none;

  }
  .experience-desktop {
    display: block;
  }
}

.local-experience {
  background: #0090FF;
  padding: 76px 0 96px 0;

  .box-experience {
    display: flex;
    margin-bottom: 30px;
    min-height: 260px;

    .experience-left {
      width: 40%;
      padding: 16px;
      text-align: center;
      border-radius: 20px 0 0 20px;
    }

    .experience-right {
      width: 60%;
      background: #FFFFFF;
      border-radius: 0px 20px 20px 0px;
      padding: 44px 58px 40px 50px;
      position: relative;

      .more-infor {
        font-family: GB;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: #31B9C8;
      }

      h4 {
        font-family: GB;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
      }

      .text-red {
        color: #F93649;
      }

      .text-green {
        color: #62B45D;
      }

      .text-yellow {
        color: #F7A515;
      }

      .description {
        font-family: GR;
        font-size: 16px;
        line-height: 24px;
      }

      .more-infor {
        position: absolute;
        bottom: 40px;
        left: 50px;
        z-index: 2;
      }
    }
  }

  .red {
    background: radial-gradient(50% 50% at 50% 50%, #F95936 0%, #F93649 100%);
  }

  .green {
    background: radial-gradient(50% 50% at 50% 50%, #87E382 0%, #62B45D 100%), radial-gradient(50% 50% at 50% 50%, #F95936 0%, #F93649 100%);
  }

  .yellow {
    background: radial-gradient(50% 50% at 50% 50%, #F7E015 0%, #FFA200 100%), radial-gradient(50% 50% at 50% 50%, #F95936 0%, #F93649 100%);
  }
}

.local-feeling {
  background: #FEBC05;

  @media screen and (min-width: $break-small) {
    padding: 50px 0;
  }
  @media screen and (min-width: $break-tablet-pro) {
    padding: 100px 0 80px 0;
  }

  .group-heading {
    margin-bottom: 0;
  }

  .detail-felling {

    width: 80%;
    @media screen and (min-width: $break-small) {
      margin: 20px auto;
      text-align: center;
    }
    @media screen and (min-width: $break-tablet-pro) {
      margin: 110px 0;
      text-align: left;
    }

    .img-app {
      margin-bottom: 10px;
      margin-right: 10px;
    }

    .dowload-app {

      @media screen and (min-width: $break-small) {
        margin: 20px auto;
        text-align: center;
      }
      @media screen and (min-width: $break-tablet-pro) {
        // margin-top: 110px;
        text-align: left;
        display: flex;
      }
    }
  }

  .owl-carousel .owl-stage-outer {
    min-height: 230px !important;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    color: #F93649 !important;
    background: #F93649;
  }

  .list-review {
    margin-top: 60px;

    .green {
      background: #62B45D;
    }

    .red {
      background: #F93649;
    }

    .blue {
      background: #31B9C8;
    }

    .item-review {
      width: 96%;
      box-shadow: 5px 4px 0px 4px #EF7D13;
      border-radius: 30px 30px 30px 0px;
      padding: 20px 30px 16px 25px;

      .list-star {
        margin-bottom: 12px;

        .icon-star {
          width: 14px !important;
        }
      }

      .description {
        margin-bottom: 34px;
      }

      .author_content {
        margin-left: 15px;
      }

      .testi_author {
        width: 100%;
        display: flex;
        align-items: center;
      }

      .testi_author p {
        margin-bottom: 0px;
      }

      .author_img {
        display: table-cell;
        vertical-align: middle;
      }

      .author_name {
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        text-transform: uppercase;
      }

      .author_career {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }

  .list-review-mobile {
    @media screen and (min-width: $break-small) {
      display: block;
    }
    @media screen and (min-width: $break-tablet-pro) {
      display: none;
    }

    .item-review {
      margin-bottom: 26px;
    }
  }

  .list-review-desktop {
    @media screen and (min-width: $break-small) {
      display: none;
    }
    @media screen and (min-width: $break-tablet-pro) {
      display: block;
    }
  }
}

.new-promotion {
  background: #0090FF;
  padding: 64px 0 100px 0;

  .group-promotion {
    margin-bottom: 25px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px !important;
  }

  button.owl-prev {
    position: absolute;
    left: -10%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  button.owl-next {
    position: absolute;
    right: -10%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .owl-dots {
    margin-top: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #E83E4B;
  }

  .content-new {
    .tab-content {
      margin-top: 40px;
      overflow: hidden;
    }

    .item-promotion {
      border-radius: 15px;


      .box-feature-img {
        overflow: hidden;
        height: 210px;

      }

      .box-feature-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px 20px 0 0;
      }

      .box-content {
        background-color: #fff;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

      }

      .box-content .box-content-title {
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 45px;
      }

      .box-content .box-content-title a {
        color: #1A1A1A;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
        font-weight: 600;
        font-family: GB;
      }

      .box-content a {
        color: #31B9C8;
        font-weight: 700;
        line-height: 16px;
      }
    }

    .nav-tabs {
      background: #F3F5F8;
      border-radius: 40px;
      border: 0;

      margin: auto;
      @media screen and (min-width: $break-small) {
        width: 100%;
      }
      @media screen and (min-width: $break-phone) {
        width: 320px;
      }
      @media screen and (min-width: $break-tablet) {
        width: 320px;
      }

      a.active {
        background: #F93649;
        border-radius: 40px;
        padding: 10px 32px;
      }

      a {
        border: 0;
        background: #F3F5F8;
        border-radius: 40px;
        padding: 10px 32px;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @media screen and (min-width: $break-small) {
          width: 145px;
        }
        @media screen and (min-width: $break-phone) {
          width: 160px;
        }
        @media screen and (min-width: $break-tablet) {
          width: 160px;
        }

        font-family: GB;
        font-weight: bold;

        text-transform: uppercase;
        color: #12141D;
        text-decoration: none;
        @media screen and (min-width: $break-small) {
          font-size: 14px;
          line-height: 16px;
        }
        @media screen and (min-width: $break-tablet) {
          font-size: 16px;
          line-height: 16px;
        }
      }

      a.active {
        font-family: GB;
        font-weight: bold;
        text-transform: uppercase;
        color: #FFFFFF;
        @media screen and (min-width: $break-small) {
          font-size: 14px;
          line-height: 16px;
        }
        @media screen and (min-width: $break-tablet) {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}

.footer-top {
  background: #293754;
  padding: 48px 0 38px 0;

  .box-footer {
    .footer_section_3 li:last-child {

      @media screen and (min-width: $break-small) {
        margin-top: unset;
      }
      @media screen and (min-width: $break-tablet) {
        margin-top: 25px;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 30px;

      li {
        font-size: 14px;
        line-height: 24px;

        b {
          font-weight: bold;
          font-family: GB;
          font-size: 16px;
        }

        a {
          font-family: GR;
          // font-weight: 600;

          color: #FFFFFF;
        }

        .social {
          display: flex;
          margin: 25px 0 30px 0;

          li {
            margin-right: 10px;
          }
        }
      }
    }

    .footer-btn-buy-now {
      background: #E62045;
      border: 1px solid #E62045;
      box-sizing: border-box;
      border-radius: 54px;
      color: #fff;
      height: 50px;
      line-height: 50px;
      display: block;
      text-align: center;
      font-weight: bold;
      font-family: GB;
      font-size: 16px;
      margin-top: 20px;
      width: 100%;

      @media screen and (min-width: $break-tablet) {
        width: 120px;
        margin-top: 0;
      }
    }

    .footer-register-email {
      margin-top: 20px;
      display: block;
    }

    .form-contact-footer {
      position: relative;
      //margin-top: 20px;

      .form-search-footer {
        border: 2px solid #E6E8EC;
        box-sizing: border-box;
        border-radius: 40px;
        height: 48px;
        background: transparent;
        font-family: GR;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;

      }

      img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-28%, -50%);
      }
    }
  }

}

.footer-bottom {
  background: #F93649;
  padding: 10px 0;

  p {
    font-family: GR;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
  }
}

/*digital service*/
.banner-service {
  .owl-nav {
    @media screen and (min-width: $break-small) {
      display: none;
    }
    @media screen and (min-width: $break-tablet-pro) {
      display: block;
    }
  }

  .item-banner {
    background: #E62045;
    position: relative;
    @media screen and (min-width: $break-small) {
      height: 636px;
    }
    @media screen and (min-width: $break-tablet-pro) {
      height: 0;
      padding-top: 42%;
      position: relative;
    }

    .box-banner {
      position: relative;

      .content-banner {

        @media screen and (min-width: $break-small) {
          padding-top: 20px;
        }
        @media screen and (min-width: $break-tablet-pro) {
          position: absolute;
          top: 0% !important;
          width: 100%;
          left: 50% !important;
          transform: translate(-50%, 15%) !important;
          z-index: 10;
        }

        .banner-overview {

          @media screen and (min-width: $break-small) {
            // height: 636px;
            text-align: center;
            padding-top: 10px;
          }
          @media screen and (min-width: $break-tablet-pro) {
            width: 90%;
            margin-right: auto;

            padding-top: 90px;
          }

          h1 {
            font-family: GB;
            font-weight: bold;

            text-transform: uppercase;
            color: #FEF8F8;
            @media screen and (min-width: $break-small) {
              font-size: 40px;
              line-height: 48px;
              text-align: center;
              letter-spacing: -0.01em;
            }
            @media screen and (min-width: $break-tablet-pro) {
              font-size: 64px;
              line-height: 64px;
              text-align: center;
              letter-spacing: -0.02em;
            }
          }

          .overview {
            font-family: GR;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            width: 70%;
            margin: auto;
          }

          .btn-join {
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 90px;
            font-family: GB;
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            padding: 16px 50px;
            margin-top: 16px;
          }
        }
      }
    }
  }
}

.text-red {
  color: #F93649;
}

.text-blue {
  color: #31B9C8;
}

.text-yellow {
  color: #F7A515;
}

.more-infor {
  font-family: GB;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #31B9C8;
}

.more-infor:hover {
  color: #31B9C8;
}

.group-heading-experience {
  margin-bottom: 0;

  .title-heading {

    @media screen and (min-width: $break-small) {
      width: 80% !important;
    }
    @media screen and (min-width: $break-tablet-pro) {
      width: 60% !important;
    }
  }
}

.experience-life {
  h2 {
    width: 80%;

  }

  .list-experience-life {

    @media screen and (min-width: $break-small) {
      padding-top: 20px;
    }
    @media screen and (min-width: $break-tablet-pro) {
      margin-top: 0;
    }

    .box-experience {
      background: #FFFFFF;
      border-radius: 17px;
      @media screen and (min-width: $break-small) {
        margin-bottom: 10px;
      }
      @media screen and (min-width: $break-tablet-pro) {
        margin-top: 118px;
      }

      h4 {
        font-family: GB;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
      }

      p {
        font-family: GR;
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        height: 100px;
      }

      .image-experience {
        padding: 30px;
        height: 380px;

        img {
          // height: 100%;
        }
      }

      .body-experience {
        padding: 0 32px 32px 32px;
      }
    }

    .box-active {

      @media screen and (min-width: $break-small) {
        margin-top: 0;
      }
      @media screen and (min-width: $break-tablet-pro) {
        margin-top: 50px !important;
      }
    }
  }
}

.list-experience-life-desktop {
  @media screen and (min-width: $break-small) {
    display: none;
  }
  @media screen and (min-width: $break-tablet-pro) {
    display: block;
  }
}

.list-experience-life-mobile {
  @media screen and (min-width: $break-small) {
    display: block;
  }
  @media screen and (min-width: $break-tablet-pro) {
    display: none;
  }

  .box-experience {
    display: flex;

    .image-experience {
      height: unset !important;
      padding: 10px !important;

      img {
        width: 110px;
      }
    }

    .body-experience {
      padding: 18px 10px !important;

      h4 {
        font-size: 16px;
        line-height: 16px;
      }

      p {
        font-size: 10px;
        line-height: 13px;
        overflow: unset;
        text-overflow: unset;
        display: block;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
        height: unset;
      }

      .more-infor {
        font-size: 10px !important;
        line-height: 8px !important;

        img {
          width: 10px !important;
        }
      }
    }
  }
}

.service-experience {
  background: #0090FF;

  @media screen and (min-width: $break-small) {
    padding: 60px 0;
  }
  @media screen and (min-width: $break-tablet-pro) {
    padding: 76px 0 90px 0;
  }

  .other-service {

    @media screen and (min-width: $break-small) {
      margin-top: 60px;
    }
    @media screen and (min-width: $break-tablet-pro) {
      margin-top: 70px;
    }

    .list-service-other {

      @media screen and (min-width: $break-small) {
        margin-top: 35px;
      }
      @media screen and (min-width: $break-tablet-pro) {
        margin-top: unset;
      }

      .card-service {
        .header-service {
          background: #FFFFFF;
          border-radius: 17px;
          padding-top: 100%;
          height: 0;
          position: relative;

          img {
            display: block;
            width: 100%;
            height: 100%;
            max-width: none;
            max-height: none;
            object-fit: cover;
            object-position: 50% 50%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .body-service {

          @media screen and (min-width: $break-small) {
            padding-top: 14px;
          }
          @media screen and (min-width: $break-tablet-pro) {
            padding-top: 33px;
          }

          h4 {
            font-family: GB;
            font-weight: bold;


            color: #FFFFFF;
            @media screen and (min-width: $break-small) {
              font-size: 14px;
              line-height: 24px;
            }
            @media screen and (min-width: $break-tablet-pro) {
              font-size: 24px;
              line-height: 32px;
              text-align: center;
            }
          }

          .description {
            font-family: GR;
            color: #FFFFFF;
            @media screen and (min-width: $break-small) {
              font-size: 12px;
              line-height: 20px;
            }
            @media screen and (min-width: $break-tablet-pro) {
              font-size: 12px;
              line-height: 20px;
            }

          }
        }
      }

      .owl-nav {
        position: absolute;
        top: 50%;
        z-index: 2;
        width: 100%;

        button.owl-prev {
          position: absolute;
          left: -10%;
          top: -70px;
          transform: translate(-50%, -50%);
          z-index: 100;
        }

        button.owl-prev:focus, button.owl-next:focus {
          outline: none;
        }

        button.owl-prev:hover, button.owl-next:hover {
          background: transparent;
        }

        button.owl-next {
          position: absolute;
          right: -10%;
          top: -70px;
          transform: translate(-50%, -50%);
          z-index: 100;
        }

      }
    }
  }
}

.cart-local {
  padding: 60px 0;
  background: #F7F7F7;

  h2 {
    font-family: GB;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #E62045;
    margin-bottom: 10px;
  }

  .local-form {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 20px 40px 35px 28px;
    margin-bottom: 20px;

    .info-customer {
      .btn-submit-payment {
        background: #E62045;
        border: 0.863544px solid #E62045;
        box-sizing: border-box;
        border-radius: 46.6314px;
        font-family: GB;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        padding: 14px 40px;
      }

      h4 {
        font-family: GB;
        font-weight: bold;
        font-size: 23px;
        line-height: 40px;
        letter-spacing: -0.01em;
        color: #E62045;
      }

      .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it

        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
        }

        // Box.
        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
          background: #F7F7F7;
          border-radius: 1.72709px;
        }

        // Box hover
        &:hover + label:before {
          background: #FF2F48;
        }

        // Box focus
        &:focus + label:before {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        // Box checked
        &:checked + label:before {
          background: #FF2F48;
        }

        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }

        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #ddd;
        }

        // Checkmark. Could be replaced with an image
        &:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 9px;
          background: white;
          width: 2px;
          height: 2px;
          box-shadow: 2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
          transform: rotate(45deg);
        }
      }

      .form-group {
        label {
          font-family: GB;
          font-weight: bold;
          font-size: 12px;
          line-height: 12px;
          text-transform: uppercase;
          color: #676879;
        }

        .form-input {
          font-family: GR;
          font-size: 12px;
          line-height: 20px;
          color: #B1B5C3;
          background: #F7F7F7;
          border-radius: 3.45418px;
          height: 42px;
          border: none;
        }

        .select-input {
          background: #F7F7F7;
          border-radius: 3.45418px;
          border: none;
          height: 42px;
          font-family: GR;
          font-size: 12px;
          line-height: 20px;
          color: #B1B5C3;
        }

        .text-area {
          background: #F7F7F7;
          border-radius: 3.45418px;
          height: 160px;
          font-family: GR;
          font-size: 12px;
          line-height: 20px;
          color: #B1B5C3;
          border: none;
        }

        .label-checkbox {
          text-transform: unset;
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .order-local {
    background: #E62045;
    border-radius: 15px;
    padding: 26px 22px 30px 30px;

    h4 {
      font-family: GB;
      font-weight: bold;
      font-size: 23px;
      line-height: 30px;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      margin-bottom: 26px;
    }

    .itemm-order {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-family: GR;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 8px;
      }

      .text-order {

      }

      .number-order {

      }
    }

    .item-total {
      background: #FFBE02;
      border-radius: 3.45418px;
      padding: 12px;
      margin-top: 22px;

      .text-total {
        text-transform: uppercase;
      }

      p {
        margin-bottom: 0;

        font-weight: bold;
      }
    }
  }

  .note {
    font-family: GR;
    font-size: 12px;
    line-height: 20px;
    color: #676879;
    padding: 20px 15px;
  }

  .icon-image-cart {
    margin-top: 80px;
  }
}

.btn-back-to-top {
  color: #B1B5C3;
  font-family: GB;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  position: fixed;
  height: 22px;
  display: none;
  padding-left: 30px;
  transform: rotate(-90deg);
  bottom: 10%;
  right: 03%;

  @media screen and (min-width: $break-tablet-pro) {
    display: block;
  }

  &:hover {
    text-decoration: none;
  }

  &.hidden {
    display: none;
  }

  &:before {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    background: url("/assets/images/back-to-top.svg") center center no-repeat;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    transform: rotate(90deg);
  }
}

.component{
  margin: 80px 0;
  h4{
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      text-transform: uppercase;
      font-family: CSM;
      color: #303030;
  }
    .box-button{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 32px;
        .btn-custom{
          padding: 11px 26px;
          border-radius: 5.33336px;
          border: 1px solid #E6E8EC;
        }
        .btn-danger-custom{
          font-weight: bold;
          font-size: 16px;
          line-height: 32px;
          color: #FFFFFF;
          background: #E62045;
        }
        .btn_white{
          font-family: GB;
          background: #FFFFFF;
          border: 1px solid #E6E8EC;
          box-sizing: border-box;
          font-weight: bold;
          font-size: 16px;
          line-height: 32px;
          color: #353945;
        }
        .text-right{
          margin-left: 9px;
        }
        .text-left{
          margin-right: 9px;
        }
        .btn-circle-danger{
            background: #E62045;
            border-radius: 32.0002px;
            padding: 16px 17px;
        }
        .btn-circle-white{
            background: #FFFFFF;
            border: 1.33334px solid #E6E8EC;
            box-sizing: border-box;
            border-radius: 32.0002px;
            padding: 16px 17px;
        }
        .border-danger-custom{
            border: 1.33334px solid #E62045;
            color: #E62045;
        }
    }
    .box-radio input[type=radio]{
      position: absolute;
      visibility: hidden;
    }
    .box-radio label{
      display: block;
      position: relative;
      padding: 0 28px 0;
      margin: 10px auto;
      height: 30px;
      z-index: 9;
      cursor: pointer;
      color: #323338;
      font-family: GR;
      font-size: 16px;
      line-height: 29px;
      -webkit-transition: all 0.25s linear;
    }
    .box-radio:hover label{
      color: #323338;
    }
    .box-radio .check{
      display: block;
      position: absolute;
      border: 5px solid #AAAAAA;
      border-radius: 100%;
      height: 22px;
      width: 22px;
      top: 2px;
      left: 0;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
    }
    .box-radio{
      position: relative;
    }
    .box-radio:hover .check {
      border: 5px solid #FFFFFF;
    }
    .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 8px;
      width: 8px;
      top: 3px;
      left: 3px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }
    input[type=radio]:checked ~ .check {
      border: 5px solid #E62045;
    }
    
    input[type=radio]:checked ~ .check::before{
      background: #FFFFFF;
    }
    
    input[type=radio]:checked ~ label{
      color: #323338;
      font-family: GR;
      font-size: 16px;
      line-height: 29px;
    }
    .box-radio-regular{
        position: relative;
        input[type=radio]{
          position: absolute;
          visibility: hidden;
        }
        label{
          display: block;
          position: relative;
          padding: 0 28px 0;
          margin: 10px auto;
          height: 30px;
          z-index: 9;
          cursor: pointer;
          color: #323338;
          font-family: GR;
          font-size: 16px;
          line-height: 29px;
          
        }
        .check-regular{
          display: block;
          position: absolute;
          border: 1.33334px solid #C5C7D0;
          border-radius: 100%;
          height: 22px;
          width: 22px;
          top: 2px;
          left: 0;
          z-index: 5;
          transition: border .25s linear;
          -webkit-transition: border .25s linear;
        }
        .check-regular::before {
          display: block;
          position: absolute;
          content: '';
          border-radius: 100%;
          height: 8px;
          width: 8px;
          top: 3px;
          left: 3px;
          margin: auto;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
        }
        input[type=radio]:checked ~ .check-regular {
          border: 5px solid #E62045;
        }
        
        input[type=radio]:checked ~ .check-regular::before{
          background: #FFFFFF;
        }
        
        input[type=radio]:checked ~ label{
          color: #323338;
          font-family: GR;
          font-size: 16px;
          line-height: 29px;
        }
    }
    .box-radio-regular.hover:hover .check-regular{
        border: 1.33334px solid #323338;
    }
    .box-radio-regular.disabled .check-regular{
        background: #E6E9EF;
        border: 1.33334px solid #E6E9EF;
    }
    .box-radio-regular.disabled.selected .check-regular::before{
        background: #676879;
        top: 5px;
        left: 6px;
    }

    .styled-checkbox {
      position: absolute; // take it out of document flow
      opacity: 0; // hide it
    
      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }
    
      // Box.
      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        border: 1.33334px solid #C5C7D0;
        border-radius: 2.66668px;
      }
    
      // Box hover
      &:hover + label:before {
          border: 1.33334px solid #323338;
      }
      
      // Box focus
      &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
      }
    
      // Box checked
      &:checked + label:before {
        background: #E62045;
        border: 1.33334px solid #E62045;
      }
      
      // Disabled state label.
      &:disabled + label {
        color: #676879;
        cursor: auto;
      }
    
      // Disabled box.
      &:disabled + label:before {
        // box-shadow: none;
        border: 1.33334px solid #E6E9EF;
        background: #E6E9EF;
      }
       // Disabled state label.
       &:disabled &:checked + label {
        color: #676879;
        cursor: auto;
      }
    
      // Disabled box.
      &:disabled &:checked + label:before {
        // box-shadow: none;
        border: 1.33334px solid #E6E9EF;
        background: #E6E9EF;
      }
      
      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 12px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
      }
    }
    .unstyled {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .bg-breadcrumb{
      padding: 0 5px 0px 5px;
      background: #E6E9EF;
    }
    .breadcrumb-right-arrow .breadcrumb-item+.breadcrumb-item::before {
      content: url('../images/NavigationChevron_right.svg');
      vertical-align:top;
      font-size:26px;
      line-height: 30px;
    }
    .breadcrumb-item{
      img{
        margin-bottom: 5px;
      }
    }
    .breadcrumb-item+.breadcrumb-item::before{
      padding-right: 4px;
    }
    .breadcrumb-item+.breadcrumb-item{
      padding-left: 4px;
    }
    ol li{
      font-size: 18px;
      line-height: 29px;
    }
    ol li a{
      font-family: GR;
      font-size: 18px;
      line-height: 29px;
      color: #777E90;
      text-decoration: none;
    }
    .bg-breadcrumb-none {
      background: unset;
      padding: 0 0 0px 5px;
    }
    .default{
      border: 1px solid #C5C7D0;
      box-sizing: border-box;
      border-radius: 4px;
      font-family: GR;
      font-size: 16px;
      line-height: 24px;
      color: #676879;
      margin-top: 10px;
    }
    .focus-black{
      border: 1px solid #323338;
    }
    .focus-blue{
      border: 1px solid #0085FF;
      color: #323338;
    }
    .default:disabled{
      border: 1px solid #E6E9EF;
      background: #E6E9EF;
    }
    .focus-error{
        border: 1px solid #E44258;
        color: #323338;
    }
    .focus-success{
      border: 1px solid #00CA72;
      color: #323338;
    }
    .group-input{
      position: relative;
    }
    .icon_close{
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0%, -55%);
    }
    .text-error{
        font-size: 14px;
        line-height: 22px;
    }
    .nav-tabs{
        width: 82%;
        border-bottom: 2px solid #E6E9EF;
    }
    .nav-tabs .nav-link{
      font-family: GR;
      font-size: 20px;
      line-height: 32px;
      color: #353945;
      padding: 8px 20px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
      border: none;
      border-bottom: 2px solid #E62045;
      font-weight: 600;
    }
    .nav-tabs .nav-link:hover{
      background: #E6E9EF;
      border-radius: 5.33336px;
    }

    .progressbar {
      counter-reset: step;
      // padding: 10px 0;
    }
    
    .progressbar li {
      float: left;
      list-style: none;
      position: relative;
      text-align: center;
      width: calc(100% / 3);
      font-size: 14px;
      line-height: 22px;
      display: flex;
    }

    .progressbar li:before {
      background: #fff;
      border: 1px solid #bebebe;
      border-radius: 50%;
      color: #bebebe;
      content: counter(step);
      counter-increment: step;
      display: block;
      height: 24px;
      line-height: 22px;
      // margin: 0 auto 5px;
      text-align: center;
      width: 24px;
      font-family: SFPDR;
    }
    .progressbar li:after{
      background:  #E8E8E8;
      content: '';
      height: 1px;
      left: -50%;
      position: absolute;
      top: 12px;
      width: 46%;
      z-index: -1;
    }
    .progressbar li.active:after {
      content: '';
      height: 1px;
      left: -60%;
      position: absolute;
      top: 12px;
      width: 55%;
      z-index: -1;
    }
    
    .progressbar li:first-child:after {
      content: none;
    }

    .progressbar li.active:after,
    .progressbar li.complete:after {
      background: #ED2146;
    }

    .progressbar li.active:before{
      background: #ED2146;
      border-color: #ED2146;
      color: #fff;
    }
    .progressbar li.complete:before {
      border: none;
      content: url('../images/small.svg');
    }
    .progressbar li span{
      padding-left: 8px;
    }
    .progressbar li.active span{
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #262626;
      font-family: GB;
    }

    .progressbar li.complete {
      color: #333;
      // font-weight: 700;
    }
    .progressbar_1{
      margin-top: 25px;
      
    }
    .progressbar_2{
        .progressbar li{
          display: unset;
          font-size: 14px;
          line-height: 20px;
          color: #595959;
        }
        .progressbar li:before{
          margin: 8px auto;
          content: '';
          border-radius: 50%;
          background: #BFBFBF;
        }
        .progressbar li.complete:before{
            width: 6px;
          height: 6px;
        }
        .progressbar li.active:before{
          width: 10px;
          height: 10px;
          background: #ED2146;
        }
        .progressbar li:before{
          width: 10px;
          height: 10px;
        }
        .progressbar li.active:after {
          left: -45%;
          width: 90%;
        }
        .progressbar li:after {
          left: -45%;
          width: 90%;
        }
    }
    .progressbar_3{
        .progressbar li.complete:before{
          content: url('../images/user.svg');
        }
        .progressbar li.active:before{
          background: none;
          content: url('../images/user.svg');
        }
        .progressbar li:before{
          border: none;
          content: url('../images/user_inactive.svg');
        }
        .progressbar li:after{
          width: 44%;
          left: -46%;
        }
    }
    
    .StepProgress {
      position: relative;
      padding-left: 45px;
      list-style: none;
    }
  
    .StepProgress-item {
      position: relative;
      counter-increment: list;
    }
    .StepProgress-item:not(:last-child) {
      padding-bottom: 10px;
    }
    .StepProgress-item::before {
      display: inline-block;
      content: '';
      position: absolute;
      left: -28px;
      top: 30px;
      height: 45%;
      width: 10px;
      
    }
    
    .StepProgress-item.is-done::before {
      border-left: 1px solid #ED2146;
      top: 32px;
    }
    .StepProgress-item.is-done::after {
      content: url('../images/medium.svg');
      width: unset;
      height: unset;
      color: #FFF;
      text-align: center;
      border: none;
      left: -43px;
    }
    .StepProgress-item.current::before {
      border-left: 1px solid #E8E8E8;
      top: 34px;
      height: 40%;
    }
    .StepProgress-item.current::after {
        content: counter(list);
        padding-top: 1px;
        width: 32px;
        height: 32px;
        top: -4px;
        left: -44px ;
        text-align: center;
        background: #ED2146;
        border: 1px solid #ED2146;
        box-sizing: border-box;
        color: white;
        font-size: 16px;
        line-height: 28px;
        font-family: SFPDR;
    }
    .StepProgress-item::after{
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        content: counter(list);
        width: 32px;
        height: 32px;
        top: -4px;
        left: -42px;
        text-align: center;
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 32px;
        color: #BFBFBF;
        font-family: SFPDF;
    }
    .StepProgress strong {
      display: block;
    }
    .StepProgress-item.current span {
      font-weight: bold;
      font-family: GB;
    }
    .StepProgress-item span p{
      font-size: 14px;
      line-height: 20px;
      color: #8C8C8C;
    }

    .StepProgress_2{
        
    .StepProgress {
      position: relative;
      padding-left: 45px;
      list-style: none;
    }
  
    .StepProgress-item {
      position: relative;
      counter-increment: list;
    }
    .StepProgress-item:not(:last-child) {
      padding-bottom: 10px;
    }
    .StepProgress-item::before {
      display: inline-block;
      content: '';
      position: absolute;
      left: -30px;
      top: 30px;
      height: 52%;
      width: 10px;
      
    }
    
    .StepProgress-item.is-done::before {
      border-left: 1px solid #ED2146;
      top: 26px;
    }
    .StepProgress-item.is-done::after {
      content: url('../images/small.svg');
      width: unset;
      height: unset;
      color: #FFF;
      text-align: center;
      border: none;
      left: -43px;
    }
    .StepProgress-item.current::before {
      border-left: 1px solid #E8E8E8;
      top: 28px;
      height: 48%;
    }
    .StepProgress-item.current::after {
        content: counter(list);
        padding-top: 1px;
        width: 24px;
        height: 24px;
        top: -4px;
        left: -44px ;
        text-align: center;
        background: #ED2146;
        border: 1px solid #ED2146;
        box-sizing: border-box;
        color: white;
        font-size: 14px;
        line-height: 20px;
    
    }
    .StepProgress-item::after{
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        content: counter(list);
        width: 24px;
        height: 24px;
        top: -4px;
        left: -42px;
        text-align: center;
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 24px;
        color: #BFBFBF;
    }
    .StepProgress strong {
      display: block;
    }
    .StepProgress-item.current span {
      font-weight: bold;
    }
    .StepProgress-item span p{
      font-size: 14px;
      line-height: 20px;
      color: #8C8C8C;
    }
    }
    
    .pagination .page-item .page-link{
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      border-radius: 4px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #595959;
    }
    .pagination .page-item{
      margin: 4px;
    }
    .pagination .page-item .active{
      border: 1px solid #FF2F48;
      color: #FF2F48;
    }
    .pagination .page-item .page-link.doted{
        border: none;
    }
    .tooltip-gp{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 32px;
        margin-top: 25px;
    }
    .group-tooltip{
      position: relative;
    }
    .group-tooltip span{
        background: #323338;
        padding: 8px 16px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.200691);
        border-radius: 4px;
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }
    .group-tooltip span:before{
      border: solid;
      border-color: #444 transparent;
      border-width: 8px 10px 0 10px;
      content: "";
      left: 30%;
      bottom: -14px;
      position: absolute;
    }
    .group-tooltip span.top:before{
      border: solid;
      border-color: #444 transparent;
      border-width: 0px 8px 10px 10px;
      content: "";
      left: 30%;
      bottom: 28px;
      position: absolute;
    }
    .group-tooltip span.left:before{
      border: solid;
      border-color: #444 transparent;
      border-width: 0px 12px 12px 0px;
      content: "";
      left: -6px;
      bottom: 28%;
      position: absolute;
      transform: rotate(45deg);
    }
    .group-tooltip span.right:before{
      border: solid;
      border-color: #444 transparent;
      border-width: 12px 12px 0px 0px;
      content: "";
      left: 53px;
      bottom: 28%;
      position: absolute;
      transform: rotate(
  135deg);
    }
}
